In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# import plotly.express as px

In [4]:
df = pd.read_csv("data/AQUASTAT_complete.csv", index_col=0)

In [5]:
df.head()

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
0,Samoa,882,Total area of the country (excl. coastal water),2020,1000 ha,E,Estimate either calculated as sum or identify ...,279.000000
1,Samoa,882,Cultivated area (arable land + permanent crops),2020,1000 ha,X,External value (reported by FAOSTAT or another...,43.000000
2,Samoa,882,Population density,2020,inhab/km2,E,Estimate either calculated as sum or identify ...,71.116129
3,Samoa,882,"Agriculture, value added (% GDP)",2020,%,X,External value (reported by FAOSTAT or another...,10.543126
4,Samoa,882,Rural population with access to safe drinking-...,2020,%,I,"Imputed (carry forward, vertical imputation, l...",99.300000

In [6]:
df.query("Variable=='Dam capacity per capita'")#.describe()

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
7,Samoa,882,Dam capacity per capita,2020,m3/inhab,E,Estimate either calculated as sum or identify ...,50.399669
1002,South Africa,710,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,151.367637
1003,Suriname,740,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,56093.114570
1004,Niger,562,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,1.822264
1005,Guyana,328,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,265.264244
...,...,...,...,...,...,...,...,...
809229,Cameroon,120,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,810.829160
809230,Jordan,400,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,41.931049
809231,Turkmenistan,795,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,1133.461122
809232,Azerbaijan,31,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,2441.930415
809233,Venezuela (Bolivarian Republic of),862,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,5703.671234

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811078 entries, 0 to 811077
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             811078 non-null  object
 1   M49                 811078 non-null  int64
 2   Variable            811078 non-null  object
 3   Year                811078 non-null  int64
 4   Unit                779362 non-null  object
 5   Symbol              662333 non-null  object
 6   Symbol Description  811078 non-null  object
 7   Value               811078 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 55.7+ MB

In [8]:
df.drop(columns=["M49", "Symbol", "Symbol Description"], inplace = True)

In [9]:
df.head()

,Country,Variable,Year,Unit,Value
0,Samoa,Total area of the country (excl. coastal water),2020,1000 ha,279.000000
1,Samoa,Cultivated area (arable land + permanent crops),2020,1000 ha,43.000000
2,Samoa,Population density,2020,inhab/km2,71.116129
3,Samoa,"Agriculture, value added (% GDP)",2020,%,10.543126
4,Samoa,Rural population with access to safe drinking-...,2020,%,99.300000

In [10]:
df.Country.nunique()

200

In [11]:
df.Year.nunique()

57

In [12]:
df.Variable.nunique()

193

In [13]:
targets = ["Total population with access to safe drinking-water (JMP)", "GDP per capita", "Water stress"]

filter for number of countries and number of years per variable

In [14]:
exclude_list = []
for var in df.Variable.unique()[:]:
    if var in targets:  continue
    df_temp = df.query("Variable==@var")
    if df_temp.Country.nunique()<=130 and df_temp.Year.nunique()<=30:
        print(var, ":")
        print("n countries: ", df_temp.Country.nunique())
        print("n years: ", df_temp.Year.nunique())
        # print(df_temp.isna().sum())
        # print(df_temp.isna().sum().max())
        print("")
        exclude_list.append(var)
    #display(df_temp)

Water withdrawal for livestock (watering and cleaning) :
n countries:  70
n years:  21

Water withdrawal for aquaculture :
n countries:  52
n years:  30

Harvested irrigated temporary crop area: Sweet potatoes :
n countries:  17
n years:  26

Harvested irrigated permanent crop area: Plantains :
n countries:  10
n years:  17

Number of people undernourished (3-year average) :
n countries:  120
n years:  29

% of area equipped for irrigation drained :
n countries:  50
n years:  30

Harvested irrigated temporary crop area: Millet :
n countries:  14
n years:  28

Direct use of agricultural drainage water :
n countries:  34
n years:  28

Harvested irrigated temporary crop area: Sorghum :
n countries:  31
n years:  29

Harvested irrigated temporary crop area: Cassava :
n countries:  9
n years:  24

Population affected by water related disease :
n countries:  32
n years:  29

Direct use of treated municipal wastewater for irrigation purposes :
n countries:  43
n years:  27

Harvested irrigated permanent crop area: Other fruits :
n countries:  62
n years:  28

Harvested irrigated permanent crop area: Cocoa beans :
n countries:  6
n years:  30

Harvested irrigated permanent crop area: Tea :
n countries:  12
n years:  22

Harvested irrigated permanent crop area: Rubber :
n countries:  2
n years:  20

Harvested irrigated temporary crop area: Groundnuts :
n countries:  23
n years:  22

Harvested irrigated temporary crop area: Sesame :
n countries:  16
n years:  27

Harvested irrigated permanent crop area: Olives :
n countries:  11
n years:  21

% of area equipped for irrigation by direct use of agricultural drainage water  :
n countries:  2
n years:  5

Harvested irrigated permanent crop area: Coconuts :
n countries:  4
n years:  17

Area equipped for irrigation by direct use of agricultural drainage water :
n countries:  2
n years:  5

Area equipped for irrigation by desalinated water :
n countries:  2
n years:  5

% of area equipped for irrigation by desalinated water :
n countries:  2
n years:  5

In [15]:
len(exclude_list)

24

In [16]:
df_short = df.query("Variable not in @exclude_list")

only consider data from 2001 until 2020

In [17]:
df_short = df_short.query("Year > 2000")

In [18]:
df_short.groupby(["Country","Variable","Year"]).count()

                                                                     Unit  \
Country     Variable                                           Year
Afghanistan % of agricultural GVA produced by irrigated agr... 2001     1
                                                               2002     1
                                                               2003     1
                                                               2004     1
                                                               2005     1
...                                                                   ...
Zimbabwe    Water withdrawal for cooling of thermoelectric ... 2016     1
                                                               2017     1
                                                               2018     1
                                                               2019     1
                                                               2020     1

                                                                     Value
Country     Variable                                           Year
Afghanistan % of agricultural GVA produced by irrigated agr... 2001      1
                                                               2002      1
                                                               2003      1
                                                               2004      1
                                                               2005      1
...                                                                    ...
Zimbabwe    Water withdrawal for cooling of thermoelectric ... 2016      1
                                                               2017      1
                                                               2018      1
                                                               2019      1
                                                               2020      1

[401568 rows x 2 columns]

filter for variables that have at least 3000 entries in the remaining data set

In [19]:
n_entry_dict = df_short.groupby("Variable").count().sort_values("Value")[["Value"]].to_dict()["Value"]
drop_list = [k for k,val in n_entry_dict.items() if val<3000]
print(len(n_entry_dict), len(drop_list))

169 90

In [20]:
df_shorter = df_short.query("Variable not in @drop_list")

In [21]:
df_shorter.set_index(["Country", "Year"])

                                                                                  Variable  \
Country                            Year
Samoa                              2020    Total area of the country (excl. coastal water)
                                   2020    Cultivated area (arable land + permanent crops)
                                   2020                                 Population density
                                   2020                   Agriculture, value added (% GDP)
                                   2020  Rural population with access to safe drinking-...
...                                                                                    ...
Bhutan                             2008                                GDP Deflator (2015)
Venezuela (Bolivarian Republic of) 2008                                GDP Deflator (2015)
Pakistan                           2008                                GDP Deflator (2015)
Latvia                             2008                                GDP Deflator (2015)
Solomon Islands                    2008                                GDP Deflator (2015)

                                              Unit       Value
Country                            Year
Samoa                              2020    1000 ha  279.000000
                                   2020    1000 ha   43.000000
                                   2020  inhab/km2   71.116129
                                   2020          %   10.543126
                                   2020          %   99.300000
...                                            ...         ...
Bhutan                             2008        NaN   95.752700
Venezuela (Bolivarian Republic of) 2008        NaN   87.838100
Pakistan                           2008        NaN   71.954400
Latvia                             2008        NaN  127.761100
Solomon Islands                    2008        NaN   79.955100

[286263 rows x 3 columns]

pivot

In [22]:
df_pivot = df_shorter.pivot_table(index=["Country","Year"], columns="Variable", values="Value")

In [23]:
df_pivot

Variable          % of agricultural GVA produced by irrigated agriculture  \
Country     Year
Afghanistan 2001                                          44.702708
            2002                                          44.684011
            2003                                          37.646401
            2004                                          53.059409
            2005                                          43.148507
...                                                             ...
Zimbabwe    2016                                           7.286943
            2017                                           7.193453
            2018                                           7.099892
            2019                                           7.099892
            2020                                           7.099892

Variable          % of agricultural water managed area equipped for irrigation  \
Country     Year
Afghanistan 2001                                         100.000000
            2002                                         100.000000
            2003                                         100.000000
            2004                                         100.000000
            2005                                         100.000000
...                                                             ...
Zimbabwe    2016                                          91.081382
            2017                                          91.296306
            2018                                          90.474331
            2019                                          90.474331
            2020                                          90.474331

Variable          % of area equipped for full control irrigation actually irrigated  \
Country     Year
Afghanistan 2001                                          66.760212
            2002                                          66.708229
            2003                                          54.675810
            2004                                          85.785536
            2005                                          65.024938
...                                                             ...
Zimbabwe    2016                                          82.107356
            2017                                          76.680282
            2018                                          68.542030
            2019                                          68.542030
            2020                                          68.542030

Variable          % of the cultivated area equipped for irrigation  \
Country     Year
Afghanistan 2001                                         41.364633
            2002                                         41.377531
            2003                                         40.556258
            2004                                         40.551131
            2005                                         40.556258
...                                                            ...
Zimbabwe    2016                                          3.985366
            2017                                          4.093415
            2018                                          4.408902
            2019                                          4.408902
            2020                                          4.408902

Variable          % of total country area cultivated  \
Country     Year
Afghanistan 2001                           11.875440
            2002                           11.875440
            2003                           12.115921
            2004                           12.117452
            2005                           12.115921
...                                              ...
Zimbabwe    2016                           10.492374
            2017                           10.492374
            2018                           10.492374
            2019                           10.492374
            2020                           10.492374

Variable          Agricultural water withdrawal  \
Country     Year
Afghanistan 2001                       20.00000
            2002                       20.00000
            2003                       20.00000
            2004                       20.00000
            2005                       20.00000
...                                         ...
Zimbabwe    2016                        2.72100
            2017                        2.77000
            2018                        3.04107
            2019                        3.04107
            2020                        3.04107

Variable          Agricultural water withdrawal as % of total renewable water resources  \
Country     Year
Afghanistan 2001                                          30.613807
            2002                                          30.613807
            2003                                          30.613807
            2004                                          30.613807
            2005                                          30.613807
...                                                             ...
Zimbabwe    2016                                          13.605000
            2017                                          13.850000
            2018                                          15.205348
            2019                                          15.205348
            2020                                          15.205348

Variable          Agricultural water withdrawal as % of total water withdrawal  \
Country     Year
Afghanistan 2001                                          98.518576
            2002                                          98.431107
            2003                                          98.343792
            2004                                          98.256633
            2005                                          98.169627
...                                                             ...
Zimbabwe    2016                                          79.989417
            2017                                          82.956485
            2018                                          80.635426
            2019                                          80.635426
            2020                                          80.635426

Variable          Agriculture, value added (% GDP)  \
Country     Year
Afghanistan 2001                         54.063068
            2002                         45.134344
            2003                         41.903476
            2004                         35.612891
            2005                         35.147545
...                                            ...
Zimbabwe    2016                          7.873986
            2017                          8.340969
            2018                          8.304691
            2019                          8.173215
            2020                          8.272958

Variable          Agriculture, value added to GDP  ...  \
Country     Year                                   ...
Afghanistan 2001                     1.945444e+09  ...
            2002                     1.869250e+09  ...
            2003                     1.981633e+09  ...
            2004                     1.918994e+09  ...
            2005                     2.186379e+09  ...
...                                           ...  ...
Zimbabwe    2016                     1.618000e+09  ...
            2017                     1.838425e+09  ...
            2018                     2.019000e+09  ...
            2019                     1.792801e+09  ...
            2020                     1.802408e+09  ...

Variable          Total population with access to safe drinking-water (JMP)  \
Country     Year
Afghanistan 2001                                               32.0
            2002                                               33.8
            2003                                               35.5
            2004                                               37.3
            2005                                               39.1
...                                                             ...
Zimbabwe    2016                                               76.9
            2017                                               76.9
            2018                                               76.9
            2019                                               76.9
            2020                                               76.9

Variable          Total renewable groundwater  Total renewable surface water  \
Country     Year
Afghanistan 2001                        10.65                          55.68
            2002                        10.65                          55.68
            2003                        10.65                          55.68
            2004                        10.65                          55.68
            2005                        10.65                          55.68
...                                       ...                            ...
Zimbabwe    2016                         6.00                          19.00
            2017                         6.00                          19.00
            2018                         6.00                          19.00
            2019                         6.00                          19.00
            2020                         6.00                          19.00

Variable          Total renewable water resources  \
Country     Year
Afghanistan 2001                            65.33
            2002                            65.33
            2003                            65.33
            2004                            65.33
            2005                            65.33
...                                           ...
Zimbabwe    2016                            20.00
            2017                            20.00
            2018                            20.00
            2019                            20.00
            2020                            20.00

Variable          Total renewable water resources per capita  \
Country     Year
Afghanistan 2001                                 3023.558860
            2002                                 2890.609479
            2003                                 2758.766770
            2004                                 2642.084964
            2005                                 2546.553933
...                                                      ...
Zimbabwe    2016                                 1425.483119
            2017                                 1404.830298
            2018                                 1385.156469
            2019                                 1365.610167
            2020                                 1345.630241

Variable          Total water withdrawal  Total water withdrawal per capita  \
Country     Year
Afghanistan 2001               20.300740                         939.545114
            2002               20.318780                         899.030431
            2003               20.336820                         858.786824
            2004               20.354860                         823.194085
            2005               20.372900                         794.132690
...                                  ...                                ...
Zimbabwe    2016                3.401700                         242.453296
            2017                3.339100                         234.543442
            2018                3.771382                         261.197685
            2019                3.771382                         257.511856
            2020                3.771382                         253.744260

Variable          Urban population  \
Country     Year
Afghanistan 2001          4648.139
            2002          4893.013
            2003          5155.788
            2004          5426.872
            2005          5691.836
...                            ...
Zimbabwe    2016          5215.894
            2017          5328.766
            2018          5447.513
            2019          5571.525
            2020          5700.460

Variable          Urban population with access to safe drinking-water (JMP)  \
Country     Year
Afghanistan 2001                                               54.1
            2002                                               55.9
            2003                                               57.8
            2004                                               59.6
            2005                                               61.5
...                                                             ...
Zimbabwe    2016                                               97.0
            2017                                               97.0
            2018                                               97.0
            2019                                               97.0
            2020                                               97.0

Variable          Water resources: total external renewable
Country     Year
Afghanistan 2001                                      18.18
            2002                                      18.18
            2003                                      18.18
            2004                                      18.18
            2005                                      18.18
...                                                     ...
Zimbabwe    2016                                       7.74
            2017                                       7.74
            2018                                       7.74
            2019                                       7.74
            2020                                       7.74

[3968 rows x 79 columns]

In [24]:
df_pivot.reset_index(inplace=True)

In [25]:
#fig, ax = plt.subplots(1,1,figsize=(20,500))
#sns.heatmap(df_pivot.isna(), ax=ax)

In [26]:
data_sparse_countries = ['Andorra','Antigua and Barbuda', 'Bahamas','Bosnia and Herzegovina','Brunei Darussalam','Cook Islands','Dominica','Equatorial Guinea','Faroe Islands','Grenada','Holy See','Kiribati', 'Liechtenstein','Marshall Islands','Micronesia (Federated States of)','Monaco','Montenegro','Nauru','Niue','Palau','Saint Kitts and Nevis','Saint Lucia','Saint Vincent and the Grenadines','Samoa','Serbia','San Marino', 'Sao Tome and Principe','Singapore', 'Seychelles','Solomon Islands','Tokelau','Tonga','Vanuatu']

In [27]:
df_pivot_short = df_pivot.query("Country not in @data_sparse_countries")

In [28]:
df_pivot.Country.nunique()

200

In [29]:
df_pivot_short.Country.nunique()

167

In [30]:
for key, val in df_pivot_short.isna().sum().to_dict().items():
    print(key,'!',val)

Country ! 0
Year ! 0
% of agricultural GVA produced by irrigated agriculture ! 232
% of agricultural water managed area equipped for irrigation ! 100
% of area equipped for full control irrigation actually irrigated ! 386
% of the cultivated area equipped for irrigation ! 60
% of total country area cultivated ! 0
Agricultural water withdrawal ! 92
Agricultural water withdrawal as % of total renewable water resources ! 78
Agricultural water withdrawal as % of total water withdrawal ! 94
Agriculture, value added (% GDP) ! 0
Agriculture, value added to GDP ! 0
Arable land area ! 0
Area equipped for full control irrigation: actually irrigated ! 378
Area equipped for full control irrigation: total ! 60
Area equipped for irrigation: total ! 60
Cultivated area (arable land + permanent crops) ! 0
Dam capacity per capita ! 271
Dependency ratio ! 0
Environmental Flow Requirements ! 360
GDP Deflator (2015) ! 0
GDP per capita ! 0
Gross Domestic Product (GDP) ! 0
Groundwater produced internally ! 80
Groundwater: accounted inflow ! 0
Groundwater: accounted outflow to other countries ! 740
Groundwater: entering the country (total) ! 0
Groundwater: leaving the country to other countries (total) ! 740
Human Development Index (HDI) [highest = 1] ! 113
Industrial water withdrawal ! 58
Industrial water withdrawal as % of total water withdrawal ! 106
Industry, value added to GDP ! 0
Long-term average annual precipitation in depth ! 20
Long-term average annual precipitation in volume ! 20
MDG 7.5. Freshwater withdrawal as % of total renewable water resources ! 82
Municipal water withdrawal ! 27
Municipal water withdrawal as % of total withdrawal ! 95
National Rainfall Index (NRI) ! 238
Overlap between surface water and groundwater ! 80
Overlap: between surface water and groundwater ! 80
Permanent crops area ! 0
Population density ! 0
Ratio between rainfed and irrigated yields ! 220
Rural population ! 0
Rural population with access to safe drinking-water (JMP) ! 0
SDG 6.4.1. Industrial Water Use Efficiency ! 78
SDG 6.4.1. Irrigated Agriculture Water Use Efficiency ! 297
SDG 6.4.1. Services Water Use Efficiency ! 27
SDG 6.4.1. Water Use Efficiency ! 321
SDG 6.4.2. Water Stress ! 89
Services, value added to GDP ! 0
Surface water produced internally ! 60
Surface water: accounted flow of border rivers ! 0
Surface water: accounted inflow ! 0
Surface water: entering the country (total) ! 0
Surface water: inflow not submitted to treaties ! 0
Surface water: inflow secured through treaties ! 0
Surface water: inflow submitted to treaties ! 40
Surface water: leaving the country to other countries (total) ! 120
Surface water: outflow to other countries not submitted to treaties ! 180
Surface water: outflow to other countries secured through treaties ! 0
Surface water: outflow to other countries submitted to treaties ! 180
Surface water: total external renewable ! 0
Surface water: total flow of border rivers ! 100
Total agricultural water managed area ! 60
Total area of the country (excl. coastal water) ! 0
Total dam capacity ! 271
Total freshwater withdrawal ! 89
Total internal renewable water resources (IRWR) ! 20
Total internal renewable water resources per capita ! 20
Total population ! 0
Total population with access to safe drinking-water (JMP) ! 0
Total renewable groundwater ! 0
Total renewable surface water ! 0
Total renewable water resources ! 0
Total renewable water resources per capita ! 0
Total water withdrawal ! 89
Total water withdrawal per capita ! 89
Urban population ! 0
Urban population with access to safe drinking-water (JMP) ! 0
Water resources: total external renewable ! 0

In [31]:
for key, val in df_pivot_short.query("Year > 2010").isna().sum().to_dict().items():
    print(key,'!',val)

Country ! 0
Year ! 0
% of agricultural GVA produced by irrigated agriculture ! 34
% of agricultural water managed area equipped for irrigation ! 40
% of area equipped for full control irrigation actually irrigated ! 62
% of the cultivated area equipped for irrigation ! 20
% of total country area cultivated ! 0
Agricultural water withdrawal ! 11
Agricultural water withdrawal as % of total renewable water resources ! 11
Agricultural water withdrawal as % of total water withdrawal ! 11
Agriculture, value added (% GDP) ! 0
Agriculture, value added to GDP ! 0
Arable land area ! 0
Area equipped for full control irrigation: actually irrigated ! 56
Area equipped for full control irrigation: total ! 20
Area equipped for irrigation: total ! 20
Cultivated area (arable land + permanent crops) ! 0
Dam capacity per capita ! 139
Dependency ratio ! 0
Environmental Flow Requirements ! 180
GDP Deflator (2015) ! 0
GDP per capita ! 0
Gross Domestic Product (GDP) ! 0
Groundwater produced internally ! 40
Groundwater: accounted inflow ! 0
Groundwater: accounted outflow to other countries ! 370
Groundwater: entering the country (total) ! 0
Groundwater: leaving the country to other countries (total) ! 370
Human Development Index (HDI) [highest = 1] ! 40
Industrial water withdrawal ! 12
Industrial water withdrawal as % of total water withdrawal ! 12
Industry, value added to GDP ! 0
Long-term average annual precipitation in depth ! 10
Long-term average annual precipitation in volume ! 10
MDG 7.5. Freshwater withdrawal as % of total renewable water resources ! 11
Municipal water withdrawal ! 10
Municipal water withdrawal as % of total withdrawal ! 11
National Rainfall Index (NRI) ! 128
Overlap between surface water and groundwater ! 40
Overlap: between surface water and groundwater ! 40
Permanent crops area ! 0
Population density ! 0
Ratio between rainfed and irrigated yields ! 110
Rural population ! 0
Rural population with access to safe drinking-water (JMP) ! 0
SDG 6.4.1. Industrial Water Use Efficiency ! 22
SDG 6.4.1. Irrigated Agriculture Water Use Efficiency ! 35
SDG 6.4.1. Services Water Use Efficiency ! 10
SDG 6.4.1. Water Use Efficiency ! 46
SDG 6.4.2. Water Stress ! 11
Services, value added to GDP ! 0
Surface water produced internally ! 30
Surface water: accounted flow of border rivers ! 0
Surface water: accounted inflow ! 0
Surface water: entering the country (total) ! 0
Surface water: inflow not submitted to treaties ! 0
Surface water: inflow secured through treaties ! 0
Surface water: inflow submitted to treaties ! 20
Surface water: leaving the country to other countries (total) ! 60
Surface water: outflow to other countries not submitted to treaties ! 90
Surface water: outflow to other countries secured through treaties ! 0
Surface water: outflow to other countries submitted to treaties ! 90
Surface water: total external renewable ! 0
Surface water: total flow of border rivers ! 50
Total agricultural water managed area ! 20
Total area of the country (excl. coastal water) ! 0
Total dam capacity ! 139
Total freshwater withdrawal ! 11
Total internal renewable water resources (IRWR) ! 10
Total internal renewable water resources per capita ! 10
Total population ! 0
Total population with access to safe drinking-water (JMP) ! 0
Total renewable groundwater ! 0
Total renewable surface water ! 0
Total renewable water resources ! 0
Total renewable water resources per capita ! 0
Total water withdrawal ! 11
Total water withdrawal per capita ! 11
Urban population ! 0
Urban population with access to safe drinking-water (JMP) ! 0
Water resources: total external renewable ! 0

exclude repeating information and further sparse variables

In [32]:
dropdrop_list = ["GDP Deflator (2015)" , "Environmental Flow Requirements" , "Groundwater: accounted outflow to other countries" , "Groundwater: leaving the country to other countries (total)"]

In [33]:
df_pivot_shorter = df_pivot_short.drop(columns=dropdrop_list)

In [34]:
print(df_pivot_shorter.columns)

Index(['Country', 'Year',
       '% of agricultural GVA produced by irrigated agriculture',
       '% of agricultural water managed area equipped for irrigation',
       '% of area equipped for full control irrigation actually irrigated',
       '% of the cultivated area equipped for irrigation',
       '% of total country area cultivated', 'Agricultural water withdrawal',
       'Agricultural water withdrawal as % of total renewable water resources',
       'Agricultural water withdrawal as % of total water withdrawal',
       'Agriculture, value added (% GDP)', 'Agriculture, value added to GDP',
       'Arable land area',
       'Area equipped for full control irrigation: actually irrigated',
       'Area equipped for full control irrigation: total',
       'Area equipped for irrigation: total',
       'Cultivated area (arable land + permanent crops)',
       'Dam capacity per capita', 'Dependency ratio', 'GDP per capita',
       'Gross Domestic Product (GDP)', 'Groundwater produced internally',
       'Groundwater: accounted inflow',
       'Groundwater: entering the country (total)',
       'Human Development Index (HDI) [highest = 1]',
       'Industrial water withdrawal',
       'Industrial water withdrawal as % of total water withdrawal',
       'Industry, value added to GDP',
       'Long-term average annual precipitation in depth',
       'Long-term average annual precipitation in volume',
       'MDG 7.5. Freshwater withdrawal as % of total renewable water resources',
       'Municipal water withdrawal',
       'Municipal water withdrawal as % of total withdrawal',
       'National Rainfall Index (NRI)',
       'Overlap between surface water and groundwater',
       'Overlap: between surface water and groundwater',
       'Permanent crops area', 'Population density',
       'Ratio between rainfed and irrigated yields', 'Rural population',
       'Rural population with access to safe drinking-water (JMP)',
       'SDG 6.4.1. Industrial Water Use Efficiency',
       'SDG 6.4.1. Irrigated Agriculture Water Use Efficiency',
       'SDG 6.4.1. Services Water Use Efficiency',
       'SDG 6.4.1. Water Use Efficiency', 'SDG 6.4.2. Water Stress',
       'Services, value added to GDP', 'Surface water produced internally',
       'Surface water: accounted flow of border rivers',
       'Surface water: accounted inflow',
       'Surface water: entering the country (total)',
       'Surface water: inflow not submitted to treaties',
       'Surface water: inflow secured through treaties',
       'Surface water: inflow submitted to treaties',
       'Surface water: leaving the country to other countries (total)',
       'Surface water: outflow to other countries not submitted to treaties',
       'Surface water: outflow to other countries secured through treaties',
       'Surface water: outflow to other countries submitted to treaties',
       'Surface water: total external renewable',
       'Surface water: total flow of border rivers',
       'Total agricultural water managed area',
       'Total area of the country (excl. coastal water)', 'Total dam capacity',
       'Total freshwater withdrawal',
       'Total internal renewable water resources (IRWR)',
       'Total internal renewable water resources per capita',
       'Total population',
       'Total population with access to safe drinking-water (JMP)',
       'Total renewable groundwater', 'Total renewable surface water',
       'Total renewable water resources',
       'Total renewable water resources per capita', 'Total water withdrawal',
       'Total water withdrawal per capita', 'Urban population',
       'Urban population with access to safe drinking-water (JMP)',
       'Water resources: total external renewable'],
      dtype='object', name='Variable')

In [35]:
df_pivot_shorter.shape

(3318, 77)

In [36]:
# start1 = 68
# start2 = 2

# limits1 = (start1, start1+6)
# limits2 = (start2, start2+75)

# vars1 = df_pivot_shorter.columns[limits1[0]:limits1[1]]
# vars2 = df_pivot_shorter.columns[limits2[0]:limits2[1]]

# print(vars1)
# print(vars2)

In [37]:
# fig, axs = plt.subplots(75,6, figsize=(30,400))

# for i, v1 in enumerate(vars1):
#     for j, v2 in enumerate(vars2):
#         sns.scatterplot(x=df_pivot_shorter[v2], y=df_pivot_shorter[v1], ax=axs[j,i])

# fig.tight_layout()

drop linear dependent variables

In [38]:
linear_drop_list = ["% of the cultivated area equipped for irrigation", "Area equipped for full control irrigation: actually irrigated", "Area equipped for full control irrigation: total", "MDG 7.5. Freshwater withdrawal as % of total renewable water resources", "Arable land area", "Area equipped for irrigation: total", "Long-term average annual precipitation in volume", "Long-term average annual precipitation in depth", "Groundwater produced internally","Surface water produced internally", "Permanent crops area", "Overlap between surface water and groundwater", "Overlap: between surface water and groundwater", "Rural population with access to safe drinking-water (JMP)", "Surface water: inflow not submitted to treaties", "Surface water: inflow submitted to treaties", "Surface water: accounted inflow", "Total renewable water resources", "Surface water: outflow to other countries secured through treaties", "Surface water: total external renewable", "Surface water: total flow of border rivers", "Surface water: accounted flow of border rivers", "Total renewable surface water", "% of area equipped for full control irrigation actually irrigated", "Surface water: outflow to other countries not submitted to treaties", "Surface water: outflow to other countries submitted to treaties", "Surface water: inflow secured through treaties", "Total freshwater withdrawal"]
drop_for_now_list = ["Human Development Index (HDI) [highest = 1]", "Industry, value added to GDP" , "Services, value added to GDP", "Agriculture, value added to GDP", "Industrial water withdrawal as % of total water withdrawal", "Municipal water withdrawal as % of total withdrawal"]

In [39]:
df_indy = df_pivot_shorter.drop(columns=linear_drop_list)
df_indy = df_indy.drop(columns=drop_for_now_list)

In [40]:
df_indy.shape

(3318, 43)

In [41]:
df_indy.head(3)

Variable,Country,Year,% of agricultural GVA produced by irrigated agriculture,% of agricultural water managed area equipped for irrigation,% of total country area cultivated,Agricultural water withdrawal,Agricultural water withdrawal as % of total renewable water resources,Agricultural water withdrawal as % of total water withdrawal,"Agriculture, value added (% GDP)",Cultivated area (arable land + permanent crops),...,Total internal renewable water resources per capita,Total population,Total population with access to safe drinking-water (JMP),Total renewable groundwater,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
0,Afghanistan,2001,44.702708,100.0,11.875440,20.0,30.613807,98.518576,54.063068,7753.0,...,2182.164400,21606.988,32.0,10.65,3023.558860,20.30074,939.545114,4648.139,54.1,18.18
1,Afghanistan,2002,44.684011,100.0,11.875440,20.0,30.613807,98.431107,45.134344,7753.0,...,2086.212107,22600.770,33.8,10.65,2890.609479,20.31878,899.030431,4893.013,55.9,18.18
2,Afghanistan,2003,37.646401,100.0,12.115921,20.0,30.613807,98.343792,41.903476,7910.0,...,1991.058521,23680.871,35.5,10.65,2758.766770,20.33682,858.786824,5155.788,57.8,18.18

improve names

In [42]:
df_indy.columns = df_indy.columns.str.replace(" ","_")

In [43]:
df_indy.head(3)

Variable,Country,Year,%_of_agricultural_GVA_produced_by_irrigated_agriculture,%_of_agricultural_water_managed_area_equipped_for_irrigation,%_of_total_country_area_cultivated,Agricultural_water_withdrawal,Agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,Agricultural_water_withdrawal_as_%_of_total_water_withdrawal,"Agriculture,_value_added_(%_GDP)",Cultivated_area_(arable_land_+_permanent_crops),...,Total_internal_renewable_water_resources_per_capita,Total_population,Total_population_with_access_to_safe_drinking-water_(JMP),Total_renewable_groundwater,Total_renewable_water_resources_per_capita,Total_water_withdrawal,Total_water_withdrawal_per_capita,Urban_population,Urban_population_with_access_to_safe_drinking-water_(JMP),Water_resources:_total_external_renewable
0,Afghanistan,2001,44.702708,100.0,11.875440,20.0,30.613807,98.518576,54.063068,7753.0,...,2182.164400,21606.988,32.0,10.65,3023.558860,20.30074,939.545114,4648.139,54.1,18.18
1,Afghanistan,2002,44.684011,100.0,11.875440,20.0,30.613807,98.431107,45.134344,7753.0,...,2086.212107,22600.770,33.8,10.65,2890.609479,20.31878,899.030431,4893.013,55.9,18.18
2,Afghanistan,2003,37.646401,100.0,12.115921,20.0,30.613807,98.343792,41.903476,7910.0,...,1991.058521,23680.871,35.5,10.65,2758.766770,20.33682,858.786824,5155.788,57.8,18.18

In [44]:
for col in df_indy.columns.sort_values():
    print(col)

%_of_agricultural_GVA_produced_by_irrigated_agriculture
%_of_agricultural_water_managed_area_equipped_for_irrigation
%_of_total_country_area_cultivated
Agricultural_water_withdrawal
Agricultural_water_withdrawal_as_%_of_total_renewable_water_resources
Agricultural_water_withdrawal_as_%_of_total_water_withdrawal
Agriculture,_value_added_(%_GDP)
Country
Cultivated_area_(arable_land_+_permanent_crops)
Dam_capacity_per_capita
Dependency_ratio
GDP_per_capita
Gross_Domestic_Product_(GDP)
Groundwater:_accounted_inflow
Groundwater:_entering_the_country_(total)
Industrial_water_withdrawal
Municipal_water_withdrawal
National_Rainfall_Index_(NRI)
Population_density
Ratio_between_rainfed_and_irrigated_yields
Rural_population
SDG_6.4.1._Industrial_Water_Use_Efficiency
SDG_6.4.1._Irrigated_Agriculture_Water_Use_Efficiency
SDG_6.4.1._Services_Water_Use_Efficiency
SDG_6.4.1._Water_Use_Efficiency
SDG_6.4.2._Water_Stress
Surface_water:_entering_the_country_(total)
Surface_water:_leaving_the_country_to_other_countries_(total)
Total_agricultural_water_managed_area
Total_area_of_the_country_(excl._coastal_water)
Total_dam_capacity
Total_internal_renewable_water_resources_(IRWR)
Total_internal_renewable_water_resources_per_capita
Total_population
Total_population_with_access_to_safe_drinking-water_(JMP)
Total_renewable_groundwater
Total_renewable_water_resources_per_capita
Total_water_withdrawal
Total_water_withdrawal_per_capita
Urban_population
Urban_population_with_access_to_safe_drinking-water_(JMP)
Water_resources:_total_external_renewable
Year

In [45]:
colnames = []
for col in df_indy.columns:
    col = col.replace("_(NRI)","")
    col = col.replace("_(GDP)","")
    col = col.replace("_(JMP)","")
    col = col.replace("_(IRWR)","")
    col = col.replace("SDG_6.4.1._","")
    col = col.replace("SDG_6.4.2._","")
    col = col.replace("-","_")
    col = col.replace(":","")
    col = col.replace(".","")
    col = col.replace(",","")
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.lower()
    col = col.replace("+","plus")
    colnames.append(col)
colnames

['country',
 'year',
 '%_of_agricultural_gva_produced_by_irrigated_agriculture',
 '%_of_agricultural_water_managed_area_equipped_for_irrigation',
 '%_of_total_country_area_cultivated',
 'agricultural_water_withdrawal',
 'agricultural_water_withdrawal_as_%_of_total_renewable_water_resources',
 'agricultural_water_withdrawal_as_%_of_total_water_withdrawal',
 'agriculture_value_added_%_gdp',
 'cultivated_area_arable_land_plus_permanent_crops',
 'dam_capacity_per_capita',
 'dependency_ratio',
 'gdp_per_capita',
 'gross_domestic_product',
 'groundwater_accounted_inflow',
 'groundwater_entering_the_country_total',
 'industrial_water_withdrawal',
 'municipal_water_withdrawal',
 'national_rainfall_index',
 'population_density',
 'ratio_between_rainfed_and_irrigated_yields',
 'rural_population',
 'industrial_water_use_efficiency',
 'irrigated_agriculture_water_use_efficiency',
 'services_water_use_efficiency',
 'water_use_efficiency',
 'water_stress',
 'surface_water_entering_the_country_total',
 'surface_water_leaving_the_country_to_other_countries_total',
 'total_agricultural_water_managed_area',
 'total_area_of_the_country_excl_coastal_water',
 'total_dam_capacity',
 'total_internal_renewable_water_resources',
 'total_internal_renewable_water_resources_per_capita',
 'total_population',
 'total_population_with_access_to_safe_drinking_water',
 'total_renewable_groundwater',
 'total_renewable_water_resources_per_capita',
 'total_water_withdrawal',
 'total_water_withdrawal_per_capita',
 'urban_population',
 'urban_population_with_access_to_safe_drinking_water',
 'water_resources_total_external_renewable']

In [46]:
df_indy.columns = colnames

In [47]:
df_indy.total_dam_capacity.describe()

count    3047.000000
mean       45.283967
std       137.151301
min         0.000000
25%         0.297000
50%         4.470210
75%        23.020736
max       841.505700
Name: total_dam_capacity, dtype: float64

In [48]:
# plt.close("all")
# for i, c in enumerate(df_indy.country.unique()):
#     fig, ax = plt.subplots(1,1, figsize=(10,4))
#     sns.heatmap(df_indy.query("country == @c").isna(), ax=ax)
#     ax.set_title(c)
#     #if i==1:    break

#### train test validation split

In [51]:
from sklearn.model_selection import train_test_split
RSEED = 5

In [60]:
targets = ['gdp_per_capita', 'water_stress', 'total_population_with_access_to_safe_drinking_water']

Y = df_indy[targets]
X = df_indy.drop(columns=targets)

X_train, X_pretest, Y_train, Y_pretest = train_test_split(X, Y, test_size=0.30, random_state=RSEED, stratify=X.country)
X_test, X_valid, Y_test, Y_valid = train_test_split(X_pretest, Y_pretest, test_size=0.50, random_state=RSEED, stratify=X_pretest.country)

In [63]:
Y_test.shape

(498, 3)