In [18]:
import pandas as pd
from preprocessing import *
from sklearn.model_selection import train_test_split
RSEED = 5

In [19]:
df = pd.read_csv("data/AQUASTAT_complete.csv", index_col=0)

In [20]:
df.columns

Index(['Country', 'M49', 'Variable', 'Year', 'Unit', 'Symbol',
       'Symbol Description', 'Value'],
      dtype='object')

In [21]:
#df.Variable.unique()

pre-split preprocessing

In [22]:
pre_split_processor = get_pre_split_processor()
pre_split_processor

Pipeline(steps=[('initial_drop_columns',
                 <preprocessing.ColumnDropper object at 0x000001CDA2834E50>),
                ('drop_countries',
                 <preprocessing.FromColumnDropper object at 0x000001CDA28E97C0>),
                ('drop_variables',
                 <preprocessing.FromColumnDropper object at 0x000001CDA28E9670>),
                ('pivot', <preprocessing.Pivoter object at 0x000001CDA28E95B0>),
                ('rename',
                 <preprocessing.ColumnRenamer object at 0x000001CDA28E9100>)])

In [23]:
df_pre = pre_split_processor.transform(df)

In [24]:
df_pre.shape

(8575, 41)

In [25]:
df_pre.columns

Index(['country', 'year',
       '%_of_agricultural_gva_produced_by_irrigated_agriculture',
       '%_of_agricultural_water_managed_area_equipped_for_irrigation',
       '%_of_total_country_area_cultivated', 'agricultural_water_withdrawal',
       'agricultural_water_withdrawal_as_%_of_total_renewable_water_resources',
       'agricultural_water_withdrawal_as_%_of_total_water_withdrawal',
       'agriculture_value_added_%_gdp',
       'cultivated_area_arable_land_plus_permanent_crops',
       'dam_capacity_per_capita', 'dependency_ratio', 'gdp_per_capita',
       'groundwater_accounted_inflow',
       'groundwater_entering_the_country_total', 'industrial_water_withdrawal',
       'municipal_water_withdrawal', 'national_rainfall_index',
       'population_density', 'ratio_between_rainfed_and_irrigated_yields',
       'rural_population', 'industrial_water_use_efficiency',
       'irrigated_agriculture_water_use_efficiency',
       'services_water_use_efficiency', 'water_use_efficiency', 'water_stress',
       'surface_water_entering_the_country_total',
       'surface_water_leaving_the_country_to_other_countries_total',
       'total_agricultural_water_managed_area',
       'total_area_of_the_country_excl_coastal_water', 'total_dam_capacity',
       'total_internal_renewable_water_resources',
       'total_internal_renewable_water_resources_per_capita',
       'total_population',
       'total_population_with_access_to_safe_drinking_water',
       'total_renewable_groundwater',
       'total_renewable_water_resources_per_capita', 'total_water_withdrawal',
       'total_water_withdrawal_per_capita', 'urban_population',
       'water_resources_total_external_renewable'],
      dtype='object')

limit years here!

In [26]:
#df_pre = df_pre.query("year > 2010")

splitting

In [27]:
targets = ['gdp_per_capita', 'water_stress', 'total_population_with_access_to_safe_drinking_water']

Y = df_pre[targets]
X = df_pre.drop(columns=targets)

X_train, X_pretest, Y_train, Y_pretest = train_test_split(X, Y, test_size=0.30, random_state=RSEED, stratify=X.country)
X_test, X_valid, Y_test, Y_valid = train_test_split(X_pretest, Y_pretest, test_size=0.50, random_state=RSEED, stratify=X_pretest.country)

In [28]:
X_train.head()

,country,year,%_of_agricultural_gva_produced_by_irrigated_agriculture,%_of_agricultural_water_managed_area_equipped_for_irrigation,%_of_total_country_area_cultivated,agricultural_water_withdrawal,agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,agricultural_water_withdrawal_as_%_of_total_water_withdrawal,agriculture_value_added_%_gdp,cultivated_area_arable_land_plus_permanent_crops,...,total_dam_capacity,total_internal_renewable_water_resources,total_internal_renewable_water_resources_per_capita,total_population,total_renewable_groundwater,total_renewable_water_resources_per_capita,total_water_withdrawal,total_water_withdrawal_per_capita,urban_population,water_resources_total_external_renewable
5711,Nicaragua,2000,5.748866,100.000000,16.499195,1.145667,0.696369,82.541959,17.839924,2151.0,...,32.005460,156.210,30814.893254,5069.302,59.000,32454.172192,1.387981,273.801196,2774.059,8.310
3763,Iran (Islamic Republic of),1992,61.875430,NaN,10.478755,NaN,NaN,NaN,12.054330,18287.0,...,17.784062,128.500,2186.103966,58780.370,49.300,2331.475627,68.647944,1167.871935,33588.950,8.545
7809,Turkmenistan,1997,100.000000,100.000000,3.687769,23.665000,95.558248,97.216602,20.061009,1800.0,...,4.969500,1.405,322.609088,4355.116,0.405,5686.415701,24.342550,5589.414840,1970.295,23.360
2946,Gambia,2002,1.378269,14.028331,25.221239,0.039200,0.490000,41.289235,28.306681,285.0,...,NaN,3.000,2136.354994,1404.261,0.500,5696.946650,0.094940,67.608514,651.518,5.000
8005,United Arab Emirates,1993,100.000000,100.000000,0.897129,1.316267,877.511111,67.607177,1.320931,75.0,...,0.040962,0.150,69.024577,2173.139,0.120,69.024577,1.946933,895.908330,1735.328,0.000

In [29]:
full_preprocessor = get_full_preprocessor(X_train.columns.to_list(), hot=False)

X_train_pre = full_preprocessor.fit_transform(X_train)
X_valid_pre = full_preprocessor.transform(X_valid)

In [30]:
X_train_pre.head()

,year,%_of_agricultural_gva_produced_by_irrigated_agriculture,%_of_agricultural_water_managed_area_equipped_for_irrigation,%_of_total_country_area_cultivated,agricultural_water_withdrawal,agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,agricultural_water_withdrawal_as_%_of_total_water_withdrawal,agriculture_value_added_%_gdp,cultivated_area_arable_land_plus_permanent_crops,dam_capacity_per_capita,...,total_internal_renewable_water_resources,total_internal_renewable_water_resources_per_capita,total_population,total_renewable_groundwater,total_renewable_water_resources_per_capita,total_water_withdrawal,total_water_withdrawal_per_capita,urban_population,water_resources_total_external_renewable,country
5711,0.423968,-0.533215,0.434923,0.262487,0.002806,-0.434674,0.770093,0.413637,0.104415,0.698786,...,0.524571,0.674285,-0.258879,0.558759,0.851265,-0.321558,-0.241550,-0.110510,-0.243353,Nicaragua
3763,-0.063701,1.185241,0.430022,-0.172457,1.596482,1.218716,1.085686,0.009193,1.168699,0.393674,...,0.464213,-0.148272,1.219695,0.512738,-0.525391,1.478369,1.333424,1.284103,-0.242508,Iran (Islamic Republic of)
7809,0.241092,1.730321,0.434923,-0.955127,1.120282,1.373189,1.250818,0.545337,0.015828,0.526986,...,-0.931628,-0.743125,-0.350499,-0.717584,-0.059290,1.000022,4.148357,-0.301832,-0.189243,Turkmenistan
2946,0.545885,-1.072089,-3.053432,0.733127,-1.242750,-0.563782,-0.581300,0.962909,-0.900666,-2.492350,...,-0.697156,-0.155428,-1.033396,-0.663593,-0.058322,-1.559158,-1.185461,-0.920676,-0.255253,Gambia
8005,-0.002742,1.730321,0.434923,-1.661397,0.054034,2.187693,0.280846,-1.501652,-1.564521,0.114917,...,-1.623123,-1.222500,-0.769936,-1.029250,-2.365475,-0.165422,0.985984,-0.372845,-0.273229,United Arab Emirates

In [31]:
print(X_train_pre.shape)
print(X_valid_pre.shape)

(6002, 38)
(1287, 38)

In [32]:
# for k,v in X_train_pre.isna().sum().to_dict().items():
#     print(k, v)
print("NaNs in train: ", X_train_pre.isna().sum().sum())
print("NaNs in valid: ", X_valid_pre.isna().sum().sum())

NaNs in train:  0
NaNs in valid:  0

In [33]:
hot_preprocessor = get_full_preprocessor(X_train.columns.to_list())

X_train_hot = hot_preprocessor.fit_transform(X_train)
X_valid_hot = hot_preprocessor.transform(X_valid)

In [34]:
X_train_hot.head()

,num__year,num__%_of_agricultural_gva_produced_by_irrigated_agriculture,num__%_of_agricultural_water_managed_area_equipped_for_irrigation,num__%_of_total_country_area_cultivated,num__agricultural_water_withdrawal,num__agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,num__agricultural_water_withdrawal_as_%_of_total_water_withdrawal,num__agriculture_value_added_%_gdp,num__cultivated_area_arable_land_plus_permanent_crops,num__dam_capacity_per_capita,...,cat__country_United Kingdom of Great Britain and Northern Ireland,cat__country_United Republic of Tanzania,cat__country_United States of America,cat__country_Uruguay,cat__country_Uzbekistan,cat__country_Venezuela (Bolivarian Republic of),cat__country_Viet Nam,cat__country_Yemen,cat__country_Zambia,cat__country_Zimbabwe
5711,0.423968,-0.533215,0.434923,0.262487,0.002806,-0.434674,0.770093,0.413637,0.104415,0.698786,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3763,-0.063701,1.185241,0.430022,-0.172457,1.596482,1.218716,1.085686,0.009193,1.168699,0.393674,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7809,0.241092,1.730321,0.434923,-0.955127,1.120282,1.373189,1.250818,0.545337,0.015828,0.526986,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2946,0.545885,-1.072089,-3.053432,0.733127,-1.242750,-0.563782,-0.581300,0.962909,-0.900666,-2.492350,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8005,-0.002742,1.730321,0.434923,-1.661397,0.054034,2.187693,0.280846,-1.501652,-1.564521,0.114917,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
print(X_train_hot.shape)
print(X_valid_hot.shape)
# for k,v in X_train_hot.isna().sum().to_dict().items():
#     print(k, v)
print("NaNs in train: ", X_train_hot.isna().sum().sum())
print("NaNs in valid: ", X_valid_hot.isna().sum().sum())

(6002, 199)
(1287, 199)
NaNs in train:  0
NaNs in valid:  0