In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import numpy as np
from sklearn import set_config
set_config(transform_output="pandas")
#warnings.simplefilter('ignore')
#import plotly.express as px

### Cleaning data

In [2]:
df = pd.read_csv("./data/AQUASTAT_complete.csv", index_col=0)

In [3]:
df.head()

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
0,Samoa,882,Total area of the country (excl. coastal water),2020,1000 ha,E,Estimate either calculated as sum or identify ...,279.000000
1,Samoa,882,Cultivated area (arable land + permanent crops),2020,1000 ha,X,External value (reported by FAOSTAT or another...,43.000000
2,Samoa,882,Population density,2020,inhab/km2,E,Estimate either calculated as sum or identify ...,71.116129
3,Samoa,882,"Agriculture, value added (% GDP)",2020,%,X,External value (reported by FAOSTAT or another...,10.543126
4,Samoa,882,Rural population with access to safe drinking-...,2020,%,I,"Imputed (carry forward, vertical imputation, l...",99.300000

In [4]:
#column name transformation 

def transform_name(col):
    col = col.replace("_(NRI)","")
    col = col.replace("_(GDP)","")
    col = col.replace("_(JMP)","")
    col = col.replace("_(IRWR)","")
    col = col.replace("SDG_6.4.1._","")
    col = col.replace("SDG_6.4.2._","")
    col = col.replace("-","_")
    col = col.replace(":","")
    col = col.replace(".","")
    col = col.replace(",","")
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.lower()
    col = col.replace("+","plus")
    col = col.replace(" ","_")

    return col

In [5]:
unit_dict =  {}
for var in df.Variable.unique():
    var_trans = transform_name(var)
    unit_dict[var_trans] = df.query("Variable == @var")["Unit"].unique()[0]

In [6]:
unit_dict

{'total_area_of_the_country_excl_coastal_water': '1000 ha',
 'cultivated_area_arable_land_plus_permanent_crops': '1000 ha',
 'population_density': 'inhab/km2',
 'agriculture_value_added_%_gdp': '%',
 'rural_population_with_access_to_safe_drinking_water_jmp': '%',
 'groundwater_entering_the_country_total': '10^9 m3/year',
 'total_renewable_groundwater': '10^9 m3/year',
 'dam_capacity_per_capita': 'm3/inhab',
 'gdp_deflator_2015': nan,
 'arable_land_area': '1000 ha',
 'total_population_with_access_to_safe_drinking_water_jmp': '%',
 'urban_population_with_access_to_safe_drinking_water_jmp': '%',
 'surface_water_inflow_secured_through_treaties': '10^9 m3/year',
 'surface_water_accounted_inflow': '10^9 m3/year',
 'total_dam_capacity': 'km3',
 'produced_municipal_wastewater': '10^9 m3/year',
 'area_equipped_for_full_control_irrigation_sprinkler_irrigation': '1000 ha',
 '%_of_agricultural_water_managed_area_equipped_for_irrigation': '%',
 '%_of_area_equipped_for_irrigation_power_irrigated': '%',
 '%_of_the_cultivated_area_equipped_for_irrigation': '%',
 'harvested_irrigated_temporary_crop_area_maize': '1000 ha',
 'harvested_irrigated_temporary_crop_area_leguminous_crops': '1000 ha',
 'prevalence_of_undernourishment_3_year_average': '%',
 'interannual_variability_wri': nan,
 'services_value_added_to_gdp': 'current US$',
 'sdg_641_water_use_efficiency': 'US$/m3',
 'human_development_index_hdi_[highest_=_1]': nan,
 'surface_water_produced_internally': '10^9 m3/year',
 'area_equipped_for_full_control_irrigation_localized_irrigation': '1000 ha',
 '%_of_area_equipped_for_irrigation_by_mixed_surface_water_and_groundwater': '%',
 'area_equipped_for_power_irrigation_surface_water_or_groundwater': '1000 ha',
 'harvested_irrigated_permanent_crop_area_coffee': '1000 ha',
 'irrigated_cropping_intensity': '%',
 'national_rainfall_index_nri': 'mm/year',
 'seasonal_variability_wri': nan,
 'industry_value_added_to_gdp': 'current US$',
 'environmental_flow_requirements': '10^9 m3/year',
 'total_population': '1000 inhab',
 'rural_population': '1000 inhab',
 'total_internal_renewable_water_resources_per_capita': 'm3/inhab/year',
 'total_renewable_water_resources': '10^9 m3/year',
 'agricultural_water_withdrawal': '10^9 m3/year',
 'municipal_water_withdrawal': '10^9 m3/year',
 'agricultural_water_withdrawal_as_%_of_total_water_withdrawal': '%',
 'area_equipped_for_irrigation_by_groundwater': '1000 ha',
 'harvested_irrigated_temporary_crop_area_potatoes': '1000 ha',
 'area_equipped_for_full_control_irrigation_actually_irrigated': '1000 ha',
 '%_of_total_country_area_cultivated': '%',
 'water_withdrawal_for_livestock_watering_and_cleaning': '10^9 m3/year',
 'sdg_641_irrigated_agriculture_water_use_efficiency': 'US$/m3',
 'total_internal_renewable_water_resources_irwr': '10^9 m3/year',
 'surface_water_accounted_flow_of_border_rivers': '10^9 m3/year',
 'industrial_water_withdrawal': '10^9 m3/year',
 'municipal_water_withdrawal_as_%_of_total_withdrawal': '%',
 'total_cultivated_area_drained': '1000 ha',
 'non_irrigated_cultivated_area_drained': '1000 ha',
 '%_of_total_cultivated_area_drained': '%',
 'area_equipped_for_irrigation_by_surface_water': '1000 ha',
 '%_of_total_grain_production_irrigated': '%',
 'harvested_irrigated_temporary_crop_area_rice': '1000 ha',
 'harvested_irrigated_temporary_crop_area_vegetables': '1000 ha',
 'irrigation_water_withdrawal': '10^9 m3/year',
 'water_withdrawal_for_aquaculture': '10^9 m3/year',
 'overlap_between_surface_water_and_groundwater': '10^9 m3/year',
 'flood_occurrence_wri': nan,
 'sdg_642_water_stress': '%',
 'ratio_between_rainfed_and_irrigated_yields': nan,
 'groundwater_produced_internally': '10^9 m3/year',
 'surface_water_inflow_not_submitted_to_treaties': '10^9 m3/year',
 'surface_water_inflow_submitted_to_treaties': '10^9 m3/year',
 'surface_water_leaving_the_country_to_other_countries_total': '10^9 m3/year',
 'total_renewable_surface_water': '10^9 m3/year',
 'total_exploitable_water_resources': '10^9 m3/year',
 'treated_municipal_wastewater': '10^9 m3/year',
 'harvested_irrigated_temporary_crop_area_other_roots_and_tubers': '1000 ha',
 'groundwater_accounted_outflow_to_other_countries': '10^9 m3/year',
 'sdg_641_services_water_use_efficiency': 'US$/m3',
 'surface_water_outflow_to_other_countries_secured_through_treaties': '10^9 m3/year',
 'groundwater_leaving_the_country_to_other_countries_total': '10^9 m3/year',
 'area_equipped_for_full_control_irrigation_total': '1000 ha',
 'gdp_per_capita': 'current US$/inhab',
 'agriculture_value_added_to_gdp': 'current US$',
 '%_of_agricultural_gva_produced_by_irrigated_agriculture': '%',
 'permanent_crops_area': '1000 ha',
 'total_water_withdrawal': '10^9 m3/year',
 'total_water_withdrawal_per_capita': 'm3/inhab/year',
 'area_equipped_for_full_control_irrigation_surface_irrigation': '1000 ha',
 '%_of_the_area_equipped_for_irrigation_actually_irrigated': '%',
 'harvested_irrigated_temporary_crop_area_sweet_potatoes': '1000 ha',
 'harvested_irrigated_permanent_crop_area_plantains': '1000 ha',
 'harvested_irrigated_permanent_crop_area_oil_palm': '1000 ha',
 'harvested_irrigated_temporary_crop_area_other_crops': '1000 ha',
 'gender_inequality_index_gii_[equality_=_0;_inequality_=_1': nan,
 'long_term_average_annual_precipitation_in_depth': 'mm/year',
 'surface_water_entering_the_country_total': '10^9 m3/year',
 'surface_water_total_flow_of_border_rivers': '10^9 m3/year',
 'surface_water_outflow_to_other_countries_not_submitted_to_treaties': '10^9 m3/year',
 'surface_water_outflow_to_other_countries_submitted_to_treaties': '10^9 m3/year',
 'dependency_ratio': '%',
 'exploitable_regular_renewable_surface_water': '10^9 m3/year',
 'exploitable_irregular_renewable_surface_water': '10^9 m3/year',
 'exploitable_regular_renewable_groundwater': '10^9 m3/year',
 'irrigation_potential': '1000 ha',
 'groundwater_accounted_inflow': '10^9 m3/year',
 'exploitable_total_renewable_surface_water': '10^9 m3/year',
 'long_term_average_annual_precipitation_in_volume': '10^9 m3/year',
 'surface_water_total_external_renewable': '10^9 m3/year',
 'water_resources_total_external_renewable': '10^9 m3/year',
 'total_renewable_water_resources_per_capita': 'm3/inhab/year',
 '%_of_area_equipped_for_irrigation_by_groundwater_': '%',
 'area_equipped_for_irrigation_total': '1000 ha',
 'total_agricultural_water_managed_area': '1000 ha',
 'harvested_irrigated_temporary_crop_area_sugarcane': '1000 ha',
 'total_harvested_irrigated_crop_area_full_control_irrigation': '1000 ha',
 'urban_population': '1000 inhab',
 'gross_domestic_product_gdp': 'current US$',
 'industrial_water_withdrawal_as_%_of_total_water_withdrawal': '%',
 'irrigation_water_requirement': '10^9 m3/year',
 'fresh_surface_water_withdrawal': '10^9 m3/year',
 'fresh_groundwater_withdrawal': '10^9 m3/year',
 'total_freshwater_withdrawal': '10^9 m3/year',
 'desalinated_water_produced': '10^9 m3/year',
 'direct_use_of_treated_municipal_wastewater': '10^9 m3/year',
 'agricultural_water_withdrawal_as_%_of_total_renewable_water_resources': '%',
 'mdg_75_freshwater_withdrawal_as_%_of_total_renewable_water_resources': '%',
 'area_equipped_for_irrigation_drained': '1000 ha',
 'area_equipped_for_irrigation_equipped_lowland_areas': '1000 ha',
 'flood_recession_cropping_area_non_equipped': '1000 ha',
 'cultivated_wetlands_and_inland_valley_bottoms_non_equipped': '1000 ha',
 'area_equipped_for_irrigation_spate_irrigation': '1000 ha',
 'area_equipped_for_irrigation_actually_irrigated': '1000 ha',
 '%_of_area_equipped_for_irrigation_by_surface_water': '%',
 '%_of_irrigation_potential_equipped_for_irrigation': '%',
 'harvested_irrigated_temporary_crop_area_wheat': '1000 ha',
 'harvested_irrigated_temporary_crop_area_barley': '1000 ha',
 'harvested_irrigated_temporary_crop_area_other_cereals': '1000 ha',
 'harvested_irrigated_temporary_crop_area_sugar_beet': '1000 ha',
 'harvested_irrigated_permanent_crop_area_bananas': '1000 ha',
 'harvested_irrigated_permanent_crop_area_citrus': '1000 ha',
 'harvested_irrigated_temporary_crop_area_cotton': '1000 ha',
 'harvested_irrigated_temporary_crop_area_soybeans': '1000 ha',
 'harvested_irrigated_permanent_crop_area_other_crops': '1000 ha',
 'area_salinized_by_irrigation': '1000 ha',
 'area_waterlogged_by_irrigation': '1000 ha',
 '%_of_area_equipped_for_irrigation_salinized': '%',
 'water_withdrawal_for_cooling_of_thermoelectric_plants': '10^9 m3/year',
 '%_of_area_equipped_for_full_control_irrigation_actually_irrigated': '%',
 'area_equipped_for_irrigation_by_direct_use_of_treated_municipal_wastewater': '1000 ha',
 'permanent_meadows_and_pastures_irrigated': '1000 ha',
 'not_treated_municipal_wastewater': '10^9 m3/year',
 'treated_municipal_wastewater_discharged_secondary_water': '10^9 m3/year',
 'area_equipped_for_irrigation_by_direct_use_of_non_treated_municipal_wastewater_': '1000 ha',
 'number_of_municipal_wastewater_treatment_facilities': nan,
 'harvested_irrigated_temporary_crop_area_total': '1000 ha',
 'harvested_irrigated_permanent_crop_area_total': '1000 ha',
 'harvested_irrigated_permanent_crop_area_grass_and_fodder': '1000 ha',
 'area_equipped_for_irrigation_by_direct_use_of_not_treated_municipal_wastewater': '1000 ha',
 '%_of_the_agricultural_holdings_with_irrigation_managed_by_women': '%',
 'number_of_people_undernourished_3_year_average': '1000 inhab',
 'harvested_irrigated_temporary_crop_area_fodder': '1000 ha',
 '%_of_area_equipped_for_irrigation_drained': '%',
 '%_of_area_equipped_for_irrigation_by_direct_use_of__treated_municipal_wastewater': '%',
 'sdg_641_industrial_water_use_efficiency': 'US$/m3',
 'area_equipped_for_irrigation_by_mixed_surface_water_and_groundwater': '1000 ha',
 'harvested_irrigated_temporary_crop_area_millet': '1000 ha',
 'direct_use_of_agricultural_drainage_water': '10^9 m3/year',
 'harvested_irrigated_temporary_crop_area_sorghum': '1000 ha',
 'harvested_irrigated_temporary_crop_area_cassava': '1000 ha',
 'harvested_irrigated_temporary_crop_area_sunflower': '1000 ha',
 'harvested_irrigated_temporary_crop_area_flowers': '1000 ha',
 'population_affected_by_water_related_disease': '1000 inhab',
 'direct_use_of_treated_municipal_wastewater_for_irrigation_purposes': '10^9 m3/year',
 'collected_municipal_wastewater': '10^9 m3/year',
 'capacity_of_the_municipal_wastewater_treatment_facilities': '10^9 m3/year',
 'not_treated_municipal_wastewater_discharged_secondary_water': '10^9 m3/year',
 'harvested_irrigated_permanent_crop_area_other_fruits': '1000 ha',
 '%_of_the_area_equipped_for_irrigation_managed_by_women': '%',
 'harvested_irrigated_permanent_crop_area_grapes': '1000 ha',
 'harvested_irrigated_temporary_crop_area_tobacco': '1000 ha',
 '%_of_area_equipped_for_irrigation_by_direct_use_of_non_treated_municipal_wastewater': '%',
 'harvested_irrigated_permanent_crop_area_cocoa_beans': '1000 ha',
 'harvested_irrigated_permanent_crop_area_tea': '1000 ha',
 'harvested_irrigated_permanent_crop_area_rubber': '1000 ha',
 'harvested_irrigated_temporary_crop_area_groundnuts': '1000 ha',
 'harvested_irrigated_temporary_crop_area_sesame': '1000 ha',
 'direct_use_of_not_treated_municipal_wastewater_for_irrigation_purposes': '10^9 m3/year',
 'harvested_irrigated_permanent_crop_area_olives': '1000 ha',
 '%_of_area_equipped_for_irrigation_by_direct_use_of_agricultural_drainage_water_': '%',
 'harvested_irrigated_permanent_crop_area_coconuts': '1000 ha',
 'area_equipped_for_irrigation_by_direct_use_of_agricultural_drainage_water': '1000 ha',
 'area_equipped_for_irrigation_by_desalinated_water': '1000 ha',
 '%_of_area_equipped_for_irrigation_by_desalinated_water': '%'}

In [18]:
unit_dict["national_rainfall_index"] = unit_dict["national_rainfall_index_nri"]
unit_dict['industrial_water_use_efficiency'] = unit_dict['sdg_641_industrial_water_use_efficiency']
unit_dict['irrigated_agriculture_water_use_efficiency'] = unit_dict['sdg_641_irrigated_agriculture_water_use_efficiency']
unit_dict['water_use_efficiency'] = unit_dict['sdg_641_water_use_efficiency']
unit_dict['services_water_use_efficiency'] = unit_dict['sdg_641_services_water_use_efficiency']
unit_dict['total_internal_renewable_water_resources'] = unit_dict['total_internal_renewable_water_resources_irwr']
df_units = pd.DataFrame(unit_dict, index=[0])
df_units.to_csv("./data/feature_units.csv")

In [14]:
df_units

,total_area_of_the_country_excl_coastal_water,cultivated_area_arable_land_plus_permanent_crops,population_density,agriculture_value_added_%_gdp,rural_population_with_access_to_safe_drinking_water_jmp,groundwater_entering_the_country_total,total_renewable_groundwater,dam_capacity_per_capita,gdp_deflator_2015,arable_land_area,...,harvested_irrigated_permanent_crop_area_rubber,harvested_irrigated_temporary_crop_area_groundnuts,harvested_irrigated_temporary_crop_area_sesame,direct_use_of_not_treated_municipal_wastewater_for_irrigation_purposes,harvested_irrigated_permanent_crop_area_olives,%_of_area_equipped_for_irrigation_by_direct_use_of_agricultural_drainage_water_,harvested_irrigated_permanent_crop_area_coconuts,area_equipped_for_irrigation_by_direct_use_of_agricultural_drainage_water,area_equipped_for_irrigation_by_desalinated_water,%_of_area_equipped_for_irrigation_by_desalinated_water
0,1000 ha,1000 ha,inhab/km2,%,%,10^9 m3/year,10^9 m3/year,m3/inhab,NaN,1000 ha,...,1000 ha,1000 ha,1000 ha,10^9 m3/year,1000 ha,%,1000 ha,1000 ha,1000 ha,%

In [7]:
df.query("Variable=='Dam capacity per capita'")#.describe()

,Country,M49,Variable,Year,Unit,Symbol,Symbol Description,Value
7,Samoa,882,Dam capacity per capita,2020,m3/inhab,E,Estimate either calculated as sum or identify ...,50.399669
1002,South Africa,710,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,151.367637
1003,Suriname,740,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,56093.114570
1004,Niger,562,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,1.822264
1005,Guyana,328,Dam capacity per capita,1968,m3/inhab,E,Estimate either calculated as sum or identify ...,265.264244
...,...,...,...,...,...,...,...,...
809229,Cameroon,120,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,810.829160
809230,Jordan,400,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,41.931049
809231,Turkmenistan,795,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,1133.461122
809232,Azerbaijan,31,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,2441.930415
809233,Venezuela (Bolivarian Republic of),862,Dam capacity per capita,2008,m3/inhab,E,Estimate either calculated as sum or identify ...,5703.671234

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 811078 entries, 0 to 811077
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             811078 non-null  object
 1   M49                 811078 non-null  int64
 2   Variable            811078 non-null  object
 3   Year                811078 non-null  int64
 4   Unit                779362 non-null  object
 5   Symbol              662333 non-null  object
 6   Symbol Description  811078 non-null  object
 7   Value               811078 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 55.7+ MB

In [9]:
#drop columns 1

df.drop(columns=["M49", "Symbol", "Symbol Description"], inplace = True)

In [10]:
df.head()

,Country,Variable,Year,Unit,Value
0,Samoa,Total area of the country (excl. coastal water),2020,1000 ha,279.000000
1,Samoa,Cultivated area (arable land + permanent crops),2020,1000 ha,43.000000
2,Samoa,Population density,2020,inhab/km2,71.116129
3,Samoa,"Agriculture, value added (% GDP)",2020,%,10.543126
4,Samoa,Rural population with access to safe drinking-...,2020,%,99.300000

In [11]:
df.Country.nunique()

200

In [12]:
df.Year.nunique()

57

In [13]:
df.Variable.nunique()

193

In [14]:
targets = ["Total population with access to safe drinking-water (JMP)", "GDP per capita", "Water stress"]

In [15]:
#filter for number of countries and number of years per variable

exclude_list = []
for var in df.Variable.unique()[:]:
    if var in targets:  continue
    df_temp = df.query("Variable==@var")
    if df_temp.Country.nunique()<=130 and df_temp.Year.nunique()<=30:
        print(var, ":")
        print("n countries: ", df_temp.Country.nunique())
        print("n years: ", df_temp.Year.nunique())
        # print(df_temp.isna().sum())
        # print(df_temp.isna().sum().max())
        print("")
        exclude_list.append(var)
    #display(df_temp)

Water withdrawal for livestock (watering and cleaning) :
n countries:  70
n years:  21

Water withdrawal for aquaculture :
n countries:  52
n years:  30

Harvested irrigated temporary crop area: Sweet potatoes :
n countries:  17
n years:  26

Harvested irrigated permanent crop area: Plantains :
n countries:  10
n years:  17

Number of people undernourished (3-year average) :
n countries:  120
n years:  29

% of area equipped for irrigation drained :
n countries:  50
n years:  30

Harvested irrigated temporary crop area: Millet :
n countries:  14
n years:  28

Direct use of agricultural drainage water :
n countries:  34
n years:  28

Harvested irrigated temporary crop area: Sorghum :
n countries:  31
n years:  29

Harvested irrigated temporary crop area: Cassava :
n countries:  9
n years:  24

Population affected by water related disease :
n countries:  32
n years:  29

Direct use of treated municipal wastewater for irrigation purposes :
n countries:  43
n years:  27

Harvested irrigated permanent crop area: Other fruits :
n countries:  62
n years:  28

Harvested irrigated permanent crop area: Cocoa beans :
n countries:  6
n years:  30

Harvested irrigated permanent crop area: Tea :
n countries:  12
n years:  22

Harvested irrigated permanent crop area: Rubber :
n countries:  2
n years:  20

Harvested irrigated temporary crop area: Groundnuts :
n countries:  23
n years:  22

Harvested irrigated temporary crop area: Sesame :
n countries:  16
n years:  27

Harvested irrigated permanent crop area: Olives :
n countries:  11
n years:  21

% of area equipped for irrigation by direct use of agricultural drainage water  :
n countries:  2
n years:  5

Harvested irrigated permanent crop area: Coconuts :
n countries:  4
n years:  17

Area equipped for irrigation by direct use of agricultural drainage water :
n countries:  2
n years:  5

Area equipped for irrigation by desalinated water :
n countries:  2
n years:  5

% of area equipped for irrigation by desalinated water :
n countries:  2
n years:  5

In [16]:
len(exclude_list)

24

In [17]:
df_short = df.query("Variable not in @exclude_list")

In [18]:
#only consider data from 2001 until 2020


df_short = df_short.query("Year > 2000")

In [19]:
df_short.groupby(["Country","Variable","Year"]).count()

                                                                     Unit  \
Country     Variable                                           Year
Afghanistan % of agricultural GVA produced by irrigated agr... 2001     1
                                                               2002     1
                                                               2003     1
                                                               2004     1
                                                               2005     1
...                                                                   ...
Zimbabwe    Water withdrawal for cooling of thermoelectric ... 2016     1
                                                               2017     1
                                                               2018     1
                                                               2019     1
                                                               2020     1

                                                                     Value
Country     Variable                                           Year
Afghanistan % of agricultural GVA produced by irrigated agr... 2001      1
                                                               2002      1
                                                               2003      1
                                                               2004      1
                                                               2005      1
...                                                                    ...
Zimbabwe    Water withdrawal for cooling of thermoelectric ... 2016      1
                                                               2017      1
                                                               2018      1
                                                               2019      1
                                                               2020      1

[401568 rows x 2 columns]

In [20]:
#filter for variables that have at least 3000 entries in the remaining data set

n_entry_dict = df_short.groupby("Variable").count().sort_values("Value")[["Value"]].to_dict()["Value"]
drop_list = [k for k,val in n_entry_dict.items() if val<3000]
print(len(n_entry_dict), len(drop_list))

169 90

In [21]:
df_shorter = df_short.query("Variable not in @drop_list")

In [22]:
df_shorter.set_index(["Country", "Year"])

                                                                                  Variable  \
Country                            Year
Samoa                              2020    Total area of the country (excl. coastal water)
                                   2020    Cultivated area (arable land + permanent crops)
                                   2020                                 Population density
                                   2020                   Agriculture, value added (% GDP)
                                   2020  Rural population with access to safe drinking-...
...                                                                                    ...
Bhutan                             2008                                GDP Deflator (2015)
Venezuela (Bolivarian Republic of) 2008                                GDP Deflator (2015)
Pakistan                           2008                                GDP Deflator (2015)
Latvia                             2008                                GDP Deflator (2015)
Solomon Islands                    2008                                GDP Deflator (2015)

                                              Unit       Value
Country                            Year
Samoa                              2020    1000 ha  279.000000
                                   2020    1000 ha   43.000000
                                   2020  inhab/km2   71.116129
                                   2020          %   10.543126
                                   2020          %   99.300000
...                                            ...         ...
Bhutan                             2008        NaN   95.752700
Venezuela (Bolivarian Republic of) 2008        NaN   87.838100
Pakistan                           2008        NaN   71.954400
Latvia                             2008        NaN  127.761100
Solomon Islands                    2008        NaN   79.955100

[286263 rows x 3 columns]

In [23]:
#pivot data 

df_pivot = df_shorter.pivot_table(index=["Country","Year"], columns="Variable", values="Value")

In [24]:
df_pivot

Variable          % of agricultural GVA produced by irrigated agriculture  \
Country     Year
Afghanistan 2001                                          44.702708
            2002                                          44.684011
            2003                                          37.646401
            2004                                          53.059409
            2005                                          43.148507
...                                                             ...
Zimbabwe    2016                                           7.286943
            2017                                           7.193453
            2018                                           7.099892
            2019                                           7.099892
            2020                                           7.099892

Variable          % of agricultural water managed area equipped for irrigation  \
Country     Year
Afghanistan 2001                                         100.000000
            2002                                         100.000000
            2003                                         100.000000
            2004                                         100.000000
            2005                                         100.000000
...                                                             ...
Zimbabwe    2016                                          91.081382
            2017                                          91.296306
            2018                                          90.474331
            2019                                          90.474331
            2020                                          90.474331

Variable          % of area equipped for full control irrigation actually irrigated  \
Country     Year
Afghanistan 2001                                          66.760212
            2002                                          66.708229
            2003                                          54.675810
            2004                                          85.785536
            2005                                          65.024938
...                                                             ...
Zimbabwe    2016                                          82.107356
            2017                                          76.680282
            2018                                          68.542030
            2019                                          68.542030
            2020                                          68.542030

Variable          % of the cultivated area equipped for irrigation  \
Country     Year
Afghanistan 2001                                         41.364633
            2002                                         41.377531
            2003                                         40.556258
            2004                                         40.551131
            2005                                         40.556258
...                                                            ...
Zimbabwe    2016                                          3.985366
            2017                                          4.093415
            2018                                          4.408902
            2019                                          4.408902
            2020                                          4.408902

Variable          % of total country area cultivated  \
Country     Year
Afghanistan 2001                           11.875440
            2002                           11.875440
            2003                           12.115921
            2004                           12.117452
            2005                           12.115921
...                                              ...
Zimbabwe    2016                           10.492374
            2017                           10.492374
            2018                           10.492374
            2019                           10.492374
            2020                           10.492374

Variable          Agricultural water withdrawal  \
Country     Year
Afghanistan 2001                       20.00000
            2002                       20.00000
            2003                       20.00000
            2004                       20.00000
            2005                       20.00000
...                                         ...
Zimbabwe    2016                        2.72100
            2017                        2.77000
            2018                        3.04107
            2019                        3.04107
            2020                        3.04107

Variable          Agricultural water withdrawal as % of total renewable water resources  \
Country     Year
Afghanistan 2001                                          30.613807
            2002                                          30.613807
            2003                                          30.613807
            2004                                          30.613807
            2005                                          30.613807
...                                                             ...
Zimbabwe    2016                                          13.605000
            2017                                          13.850000
            2018                                          15.205348
            2019                                          15.205348
            2020                                          15.205348

Variable          Agricultural water withdrawal as % of total water withdrawal  \
Country     Year
Afghanistan 2001                                          98.518576
            2002                                          98.431107
            2003                                          98.343792
            2004                                          98.256633
            2005                                          98.169627
...                                                             ...
Zimbabwe    2016                                          79.989417
            2017                                          82.956485
            2018                                          80.635426
            2019                                          80.635426
            2020                                          80.635426

Variable          Agriculture, value added (% GDP)  \
Country     Year
Afghanistan 2001                         54.063068
            2002                         45.134344
            2003                         41.903476
            2004                         35.612891
            2005                         35.147545
...                                            ...
Zimbabwe    2016                          7.873986
            2017                          8.340969
            2018                          8.304691
            2019                          8.173215
            2020                          8.272958

Variable          Agriculture, value added to GDP  ...  \
Country     Year                                   ...
Afghanistan 2001                     1.945444e+09  ...
            2002                     1.869250e+09  ...
            2003                     1.981633e+09  ...
            2004                     1.918994e+09  ...
            2005                     2.186379e+09  ...
...                                           ...  ...
Zimbabwe    2016                     1.618000e+09  ...
            2017                     1.838425e+09  ...
            2018                     2.019000e+09  ...
            2019                     1.792801e+09  ...
            2020                     1.802408e+09  ...

Variable          Total population with access to safe drinking-water (JMP)  \
Country     Year
Afghanistan 2001                                               32.0
            2002                                               33.8
            2003                                               35.5
            2004                                               37.3
            2005                                               39.1
...                                                             ...
Zimbabwe    2016                                               76.9
            2017                                               76.9
            2018                                               76.9
            2019                                               76.9
            2020                                               76.9

Variable          Total renewable groundwater  Total renewable surface water  \
Country     Year
Afghanistan 2001                        10.65                          55.68
            2002                        10.65                          55.68
            2003                        10.65                          55.68
            2004                        10.65                          55.68
            2005                        10.65                          55.68
...                                       ...                            ...
Zimbabwe    2016                         6.00                          19.00
            2017                         6.00                          19.00
            2018                         6.00                          19.00
            2019                         6.00                          19.00
            2020                         6.00                          19.00

Variable          Total renewable water resources  \
Country     Year
Afghanistan 2001                            65.33
            2002                            65.33
            2003                            65.33
            2004                            65.33
            2005                            65.33
...                                           ...
Zimbabwe    2016                            20.00
            2017                            20.00
            2018                            20.00
            2019                            20.00
            2020                            20.00

Variable          Total renewable water resources per capita  \
Country     Year
Afghanistan 2001                                 3023.558860
            2002                                 2890.609479
            2003                                 2758.766770
            2004                                 2642.084964
            2005                                 2546.553933
...                                                      ...
Zimbabwe    2016                                 1425.483119
            2017                                 1404.830298
            2018                                 1385.156469
            2019                                 1365.610167
            2020                                 1345.630241

Variable          Total water withdrawal  Total water withdrawal per capita  \
Country     Year
Afghanistan 2001               20.300740                         939.545114
            2002               20.318780                         899.030431
            2003               20.336820                         858.786824
            2004               20.354860                         823.194085
            2005               20.372900                         794.132690
...                                  ...                                ...
Zimbabwe    2016                3.401700                         242.453296
            2017                3.339100                         234.543442
            2018                3.771382                         261.197685
            2019                3.771382                         257.511856
            2020                3.771382                         253.744260

Variable          Urban population  \
Country     Year
Afghanistan 2001          4648.139
            2002          4893.013
            2003          5155.788
            2004          5426.872
            2005          5691.836
...                            ...
Zimbabwe    2016          5215.894
            2017          5328.766
            2018          5447.513
            2019          5571.525
            2020          5700.460

Variable          Urban population with access to safe drinking-water (JMP)  \
Country     Year
Afghanistan 2001                                               54.1
            2002                                               55.9
            2003                                               57.8
            2004                                               59.6
            2005                                               61.5
...                                                             ...
Zimbabwe    2016                                               97.0
            2017                                               97.0
            2018                                               97.0
            2019                                               97.0
            2020                                               97.0

Variable          Water resources: total external renewable
Country     Year
Afghanistan 2001                                      18.18
            2002                                      18.18
            2003                                      18.18
            2004                                      18.18
            2005                                      18.18
...                                                     ...
Zimbabwe    2016                                       7.74
            2017                                       7.74
            2018                                       7.74
            2019                                       7.74
            2020                                       7.74

[3968 rows x 79 columns]

In [25]:
df_pivot.reset_index(inplace=True)

In [26]:
#fig, ax = plt.subplots(1,1,figsize=(20,500))
#sns.heatmap(df_pivot.isna(), ax=ax)

In [27]:
data_sparse_countries = ['Andorra','Antigua and Barbuda', 'Bahamas','Bosnia and Herzegovina','Brunei Darussalam','Cook Islands','Dominica','Equatorial Guinea','Faroe Islands','Grenada','Holy See','Kiribati', 'Liechtenstein','Marshall Islands','Micronesia (Federated States of)','Monaco','Montenegro','Nauru','Niue','Palau','Saint Kitts and Nevis','Saint Lucia','Saint Vincent and the Grenadines','Samoa','Serbia','San Marino', 'Sao Tome and Principe','Singapore', 'Seychelles','Solomon Islands','Tokelau','Tonga','Vanuatu','Djibouti','Maldives','Papua New Guinea','Tuvalu']

In [28]:
df_pivot_short = df_pivot.query("Country not in @data_sparse_countries")

In [29]:
df_pivot.Country.nunique()

200

In [30]:
df_pivot_short.Country.nunique()

163

In [31]:
for key, val in df_pivot_short.isna().sum().to_dict().items():
    print(key,'!',val)

Country ! 0
Year ! 0
% of agricultural GVA produced by irrigated agriculture ! 172
% of agricultural water managed area equipped for irrigation ! 40
% of area equipped for full control irrigation actually irrigated ! 326
% of the cultivated area equipped for irrigation ! 40
% of total country area cultivated ! 0
Agricultural water withdrawal ! 72
Agricultural water withdrawal as % of total renewable water resources ! 58
Agricultural water withdrawal as % of total water withdrawal ! 74
Agriculture, value added (% GDP) ! 0
Agriculture, value added to GDP ! 0
Arable land area ! 0
Area equipped for full control irrigation: actually irrigated ! 318
Area equipped for full control irrigation: total ! 40
Area equipped for irrigation: total ! 40
Cultivated area (arable land + permanent crops) ! 0
Dam capacity per capita ! 231
Dependency ratio ! 0
Environmental Flow Requirements ! 300
GDP Deflator (2015) ! 0
GDP per capita ! 0
Gross Domestic Product (GDP) ! 0
Groundwater produced internally ! 60
Groundwater: accounted inflow ! 0
Groundwater: accounted outflow to other countries ! 700
Groundwater: entering the country (total) ! 0
Groundwater: leaving the country to other countries (total) ! 700
Human Development Index (HDI) [highest = 1] ! 93
Industrial water withdrawal ! 38
Industrial water withdrawal as % of total water withdrawal ! 86
Industry, value added to GDP ! 0
Long-term average annual precipitation in depth ! 0
Long-term average annual precipitation in volume ! 0
MDG 7.5. Freshwater withdrawal as % of total renewable water resources ! 62
Municipal water withdrawal ! 7
Municipal water withdrawal as % of total withdrawal ! 75
National Rainfall Index (NRI) ! 198
Overlap between surface water and groundwater ! 60
Overlap: between surface water and groundwater ! 60
Permanent crops area ! 0
Population density ! 0
Ratio between rainfed and irrigated yields ! 140
Rural population ! 0
Rural population with access to safe drinking-water (JMP) ! 0
SDG 6.4.1. Industrial Water Use Efficiency ! 38
SDG 6.4.1. Irrigated Agriculture Water Use Efficiency ! 237
SDG 6.4.1. Services Water Use Efficiency ! 7
SDG 6.4.1. Water Use Efficiency ! 241
SDG 6.4.2. Water Stress ! 69
Services, value added to GDP ! 0
Surface water produced internally ! 40
Surface water: accounted flow of border rivers ! 0
Surface water: accounted inflow ! 0
Surface water: entering the country (total) ! 0
Surface water: inflow not submitted to treaties ! 0
Surface water: inflow secured through treaties ! 0
Surface water: inflow submitted to treaties ! 40
Surface water: leaving the country to other countries (total) ! 120
Surface water: outflow to other countries not submitted to treaties ! 180
Surface water: outflow to other countries secured through treaties ! 0
Surface water: outflow to other countries submitted to treaties ! 180
Surface water: total external renewable ! 0
Surface water: total flow of border rivers ! 100
Total agricultural water managed area ! 40
Total area of the country (excl. coastal water) ! 0
Total dam capacity ! 231
Total freshwater withdrawal ! 69
Total internal renewable water resources (IRWR) ! 0
Total internal renewable water resources per capita ! 0
Total population ! 0
Total population with access to safe drinking-water (JMP) ! 0
Total renewable groundwater ! 0
Total renewable surface water ! 0
Total renewable water resources ! 0
Total renewable water resources per capita ! 0
Total water withdrawal ! 69
Total water withdrawal per capita ! 69
Urban population ! 0
Urban population with access to safe drinking-water (JMP) ! 0
Water resources: total external renewable ! 0

In [32]:
for key, val in df_pivot_short.query("Year > 2010").isna().sum().to_dict().items():
    print(key,'!',val)

Country ! 0
Year ! 0
% of agricultural GVA produced by irrigated agriculture ! 4
% of agricultural water managed area equipped for irrigation ! 10
% of area equipped for full control irrigation actually irrigated ! 32
% of the cultivated area equipped for irrigation ! 10
% of total country area cultivated ! 0
Agricultural water withdrawal ! 1
Agricultural water withdrawal as % of total renewable water resources ! 1
Agricultural water withdrawal as % of total water withdrawal ! 1
Agriculture, value added (% GDP) ! 0
Agriculture, value added to GDP ! 0
Arable land area ! 0
Area equipped for full control irrigation: actually irrigated ! 26
Area equipped for full control irrigation: total ! 10
Area equipped for irrigation: total ! 10
Cultivated area (arable land + permanent crops) ! 0
Dam capacity per capita ! 119
Dependency ratio ! 0
Environmental Flow Requirements ! 150
GDP Deflator (2015) ! 0
GDP per capita ! 0
Gross Domestic Product (GDP) ! 0
Groundwater produced internally ! 30
Groundwater: accounted inflow ! 0
Groundwater: accounted outflow to other countries ! 350
Groundwater: entering the country (total) ! 0
Groundwater: leaving the country to other countries (total) ! 350
Human Development Index (HDI) [highest = 1] ! 30
Industrial water withdrawal ! 2
Industrial water withdrawal as % of total water withdrawal ! 2
Industry, value added to GDP ! 0
Long-term average annual precipitation in depth ! 0
Long-term average annual precipitation in volume ! 0
MDG 7.5. Freshwater withdrawal as % of total renewable water resources ! 1
Municipal water withdrawal ! 0
Municipal water withdrawal as % of total withdrawal ! 1
National Rainfall Index (NRI) ! 108
Overlap between surface water and groundwater ! 30
Overlap: between surface water and groundwater ! 30
Permanent crops area ! 0
Population density ! 0
Ratio between rainfed and irrigated yields ! 70
Rural population ! 0
Rural population with access to safe drinking-water (JMP) ! 0
SDG 6.4.1. Industrial Water Use Efficiency ! 2
SDG 6.4.1. Irrigated Agriculture Water Use Efficiency ! 5
SDG 6.4.1. Services Water Use Efficiency ! 0
SDG 6.4.1. Water Use Efficiency ! 6
SDG 6.4.2. Water Stress ! 1
Services, value added to GDP ! 0
Surface water produced internally ! 20
Surface water: accounted flow of border rivers ! 0
Surface water: accounted inflow ! 0
Surface water: entering the country (total) ! 0
Surface water: inflow not submitted to treaties ! 0
Surface water: inflow secured through treaties ! 0
Surface water: inflow submitted to treaties ! 20
Surface water: leaving the country to other countries (total) ! 60
Surface water: outflow to other countries not submitted to treaties ! 90
Surface water: outflow to other countries secured through treaties ! 0
Surface water: outflow to other countries submitted to treaties ! 90
Surface water: total external renewable ! 0
Surface water: total flow of border rivers ! 50
Total agricultural water managed area ! 10
Total area of the country (excl. coastal water) ! 0
Total dam capacity ! 119
Total freshwater withdrawal ! 1
Total internal renewable water resources (IRWR) ! 0
Total internal renewable water resources per capita ! 0
Total population ! 0
Total population with access to safe drinking-water (JMP) ! 0
Total renewable groundwater ! 0
Total renewable surface water ! 0
Total renewable water resources ! 0
Total renewable water resources per capita ! 0
Total water withdrawal ! 1
Total water withdrawal per capita ! 1
Urban population ! 0
Urban population with access to safe drinking-water (JMP) ! 0
Water resources: total external renewable ! 0

In [33]:
#drop columns 2

dropdrop_list = ["GDP Deflator (2015)" , "Environmental Flow Requirements" , "Groundwater: accounted outflow to other countries" , "Groundwater: leaving the country to other countries (total)"]

In [34]:
df_pivot_shorter = df_pivot_short.drop(columns=dropdrop_list)

In [35]:
print(df_pivot_shorter.columns)

Index(['Country', 'Year',
       '% of agricultural GVA produced by irrigated agriculture',
       '% of agricultural water managed area equipped for irrigation',
       '% of area equipped for full control irrigation actually irrigated',
       '% of the cultivated area equipped for irrigation',
       '% of total country area cultivated', 'Agricultural water withdrawal',
       'Agricultural water withdrawal as % of total renewable water resources',
       'Agricultural water withdrawal as % of total water withdrawal',
       'Agriculture, value added (% GDP)', 'Agriculture, value added to GDP',
       'Arable land area',
       'Area equipped for full control irrigation: actually irrigated',
       'Area equipped for full control irrigation: total',
       'Area equipped for irrigation: total',
       'Cultivated area (arable land + permanent crops)',
       'Dam capacity per capita', 'Dependency ratio', 'GDP per capita',
       'Gross Domestic Product (GDP)', 'Groundwater produced internally',
       'Groundwater: accounted inflow',
       'Groundwater: entering the country (total)',
       'Human Development Index (HDI) [highest = 1]',
       'Industrial water withdrawal',
       'Industrial water withdrawal as % of total water withdrawal',
       'Industry, value added to GDP',
       'Long-term average annual precipitation in depth',
       'Long-term average annual precipitation in volume',
       'MDG 7.5. Freshwater withdrawal as % of total renewable water resources',
       'Municipal water withdrawal',
       'Municipal water withdrawal as % of total withdrawal',
       'National Rainfall Index (NRI)',
       'Overlap between surface water and groundwater',
       'Overlap: between surface water and groundwater',
       'Permanent crops area', 'Population density',
       'Ratio between rainfed and irrigated yields', 'Rural population',
       'Rural population with access to safe drinking-water (JMP)',
       'SDG 6.4.1. Industrial Water Use Efficiency',
       'SDG 6.4.1. Irrigated Agriculture Water Use Efficiency',
       'SDG 6.4.1. Services Water Use Efficiency',
       'SDG 6.4.1. Water Use Efficiency', 'SDG 6.4.2. Water Stress',
       'Services, value added to GDP', 'Surface water produced internally',
       'Surface water: accounted flow of border rivers',
       'Surface water: accounted inflow',
       'Surface water: entering the country (total)',
       'Surface water: inflow not submitted to treaties',
       'Surface water: inflow secured through treaties',
       'Surface water: inflow submitted to treaties',
       'Surface water: leaving the country to other countries (total)',
       'Surface water: outflow to other countries not submitted to treaties',
       'Surface water: outflow to other countries secured through treaties',
       'Surface water: outflow to other countries submitted to treaties',
       'Surface water: total external renewable',
       'Surface water: total flow of border rivers',
       'Total agricultural water managed area',
       'Total area of the country (excl. coastal water)', 'Total dam capacity',
       'Total freshwater withdrawal',
       'Total internal renewable water resources (IRWR)',
       'Total internal renewable water resources per capita',
       'Total population',
       'Total population with access to safe drinking-water (JMP)',
       'Total renewable groundwater', 'Total renewable surface water',
       'Total renewable water resources',
       'Total renewable water resources per capita', 'Total water withdrawal',
       'Total water withdrawal per capita', 'Urban population',
       'Urban population with access to safe drinking-water (JMP)',
       'Water resources: total external renewable'],
      dtype='object', name='Variable')

In [36]:
df_pivot_shorter.shape

(3238, 77)

In [37]:
# start1 = 68
# start2 = 2

# limits1 = (start1, start1+6)
# limits2 = (start2, start2+75)

# vars1 = df_pivot_shorter.columns[limits1[0]:limits1[1]]
# vars2 = df_pivot_shorter.columns[limits2[0]:limits2[1]]

# print(vars1)
# print(vars2)

In [38]:
# fig, axs = plt.subplots(75,6, figsize=(30,400))

# for i, v1 in enumerate(vars1):
#     for j, v2 in enumerate(vars2):
#         sns.scatterplot(x=df_pivot_shorter[v2], y=df_pivot_shorter[v1], ax=axs[j,i])

# fig.tight_layout()

drop linear dependent variables

In [39]:
#drop columns 3 

linear_drop_list = ["% of the cultivated area equipped for irrigation", "Area equipped for full control irrigation: actually irrigated", "Area equipped for full control irrigation: total", "MDG 7.5. Freshwater withdrawal as % of total renewable water resources", "Arable land area", "Area equipped for irrigation: total", "Long-term average annual precipitation in volume", "Long-term average annual precipitation in depth", "Groundwater produced internally","Surface water produced internally", "Permanent crops area", "Overlap between surface water and groundwater", "Overlap: between surface water and groundwater", "Rural population with access to safe drinking-water (JMP)", "Surface water: inflow not submitted to treaties", "Surface water: inflow submitted to treaties", "Surface water: accounted inflow", "Total renewable water resources", "Surface water: outflow to other countries secured through treaties", "Surface water: total external renewable", "Surface water: total flow of border rivers", "Surface water: accounted flow of border rivers", "Total renewable surface water", "% of area equipped for full control irrigation actually irrigated", "Surface water: outflow to other countries not submitted to treaties", "Surface water: outflow to other countries submitted to treaties", "Surface water: inflow secured through treaties", "Total freshwater withdrawal"]
drop_for_now_list = ["Human Development Index (HDI) [highest = 1]", "Industry, value added to GDP" , "Services, value added to GDP", "Agriculture, value added to GDP", "Industrial water withdrawal as % of total water withdrawal", "Municipal water withdrawal as % of total withdrawal"]

In [40]:
df_indy = df_pivot_shorter.drop(columns=linear_drop_list)
df_indy = df_indy.drop(columns=drop_for_now_list)

In [41]:
df_indy.shape

(3238, 43)

In [42]:
df_indy.head(3)

Variable,Country,Year,% of agricultural GVA produced by irrigated agriculture,% of agricultural water managed area equipped for irrigation,% of total country area cultivated,Agricultural water withdrawal,Agricultural water withdrawal as % of total renewable water resources,Agricultural water withdrawal as % of total water withdrawal,"Agriculture, value added (% GDP)",Cultivated area (arable land + permanent crops),...,Total internal renewable water resources per capita,Total population,Total population with access to safe drinking-water (JMP),Total renewable groundwater,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
0,Afghanistan,2001,44.702708,100.0,11.875440,20.0,30.613807,98.518576,54.063068,7753.0,...,2182.164400,21606.988,32.0,10.65,3023.558860,20.30074,939.545114,4648.139,54.1,18.18
1,Afghanistan,2002,44.684011,100.0,11.875440,20.0,30.613807,98.431107,45.134344,7753.0,...,2086.212107,22600.770,33.8,10.65,2890.609479,20.31878,899.030431,4893.013,55.9,18.18
2,Afghanistan,2003,37.646401,100.0,12.115921,20.0,30.613807,98.343792,41.903476,7910.0,...,1991.058521,23680.871,35.5,10.65,2758.766770,20.33682,858.786824,5155.788,57.8,18.18

In [43]:
#streamline column names  

df_indy.columns = df_indy.columns.str.replace(" ","_")

In [44]:
df_indy.head(3)

Variable,Country,Year,%_of_agricultural_GVA_produced_by_irrigated_agriculture,%_of_agricultural_water_managed_area_equipped_for_irrigation,%_of_total_country_area_cultivated,Agricultural_water_withdrawal,Agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,Agricultural_water_withdrawal_as_%_of_total_water_withdrawal,"Agriculture,_value_added_(%_GDP)",Cultivated_area_(arable_land_+_permanent_crops),...,Total_internal_renewable_water_resources_per_capita,Total_population,Total_population_with_access_to_safe_drinking-water_(JMP),Total_renewable_groundwater,Total_renewable_water_resources_per_capita,Total_water_withdrawal,Total_water_withdrawal_per_capita,Urban_population,Urban_population_with_access_to_safe_drinking-water_(JMP),Water_resources:_total_external_renewable
0,Afghanistan,2001,44.702708,100.0,11.875440,20.0,30.613807,98.518576,54.063068,7753.0,...,2182.164400,21606.988,32.0,10.65,3023.558860,20.30074,939.545114,4648.139,54.1,18.18
1,Afghanistan,2002,44.684011,100.0,11.875440,20.0,30.613807,98.431107,45.134344,7753.0,...,2086.212107,22600.770,33.8,10.65,2890.609479,20.31878,899.030431,4893.013,55.9,18.18
2,Afghanistan,2003,37.646401,100.0,12.115921,20.0,30.613807,98.343792,41.903476,7910.0,...,1991.058521,23680.871,35.5,10.65,2758.766770,20.33682,858.786824,5155.788,57.8,18.18

In [45]:
for col in df_indy.columns.sort_values():
    print(col)

%_of_agricultural_GVA_produced_by_irrigated_agriculture
%_of_agricultural_water_managed_area_equipped_for_irrigation
%_of_total_country_area_cultivated
Agricultural_water_withdrawal
Agricultural_water_withdrawal_as_%_of_total_renewable_water_resources
Agricultural_water_withdrawal_as_%_of_total_water_withdrawal
Agriculture,_value_added_(%_GDP)
Country
Cultivated_area_(arable_land_+_permanent_crops)
Dam_capacity_per_capita
Dependency_ratio
GDP_per_capita
Gross_Domestic_Product_(GDP)
Groundwater:_accounted_inflow
Groundwater:_entering_the_country_(total)
Industrial_water_withdrawal
Municipal_water_withdrawal
National_Rainfall_Index_(NRI)
Population_density
Ratio_between_rainfed_and_irrigated_yields
Rural_population
SDG_6.4.1._Industrial_Water_Use_Efficiency
SDG_6.4.1._Irrigated_Agriculture_Water_Use_Efficiency
SDG_6.4.1._Services_Water_Use_Efficiency
SDG_6.4.1._Water_Use_Efficiency
SDG_6.4.2._Water_Stress
Surface_water:_entering_the_country_(total)
Surface_water:_leaving_the_country_to_other_countries_(total)
Total_agricultural_water_managed_area
Total_area_of_the_country_(excl._coastal_water)
Total_dam_capacity
Total_internal_renewable_water_resources_(IRWR)
Total_internal_renewable_water_resources_per_capita
Total_population
Total_population_with_access_to_safe_drinking-water_(JMP)
Total_renewable_groundwater
Total_renewable_water_resources_per_capita
Total_water_withdrawal
Total_water_withdrawal_per_capita
Urban_population
Urban_population_with_access_to_safe_drinking-water_(JMP)
Water_resources:_total_external_renewable
Year

In [46]:
colnames = []
for col in df_indy.columns:
    col = col.replace("_(NRI)","")
    col = col.replace("_(GDP)","")
    col = col.replace("_(JMP)","")
    col = col.replace("_(IRWR)","")
    col = col.replace("SDG_6.4.1._","")
    col = col.replace("SDG_6.4.2._","")
    col = col.replace("-","_")
    col = col.replace(":","")
    col = col.replace(".","")
    col = col.replace(",","")
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.lower()
    col = col.replace("+","plus")
    colnames.append(col)
colnames

['country',
 'year',
 '%_of_agricultural_gva_produced_by_irrigated_agriculture',
 '%_of_agricultural_water_managed_area_equipped_for_irrigation',
 '%_of_total_country_area_cultivated',
 'agricultural_water_withdrawal',
 'agricultural_water_withdrawal_as_%_of_total_renewable_water_resources',
 'agricultural_water_withdrawal_as_%_of_total_water_withdrawal',
 'agriculture_value_added_%_gdp',
 'cultivated_area_arable_land_plus_permanent_crops',
 'dam_capacity_per_capita',
 'dependency_ratio',
 'gdp_per_capita',
 'gross_domestic_product',
 'groundwater_accounted_inflow',
 'groundwater_entering_the_country_total',
 'industrial_water_withdrawal',
 'municipal_water_withdrawal',
 'national_rainfall_index',
 'population_density',
 'ratio_between_rainfed_and_irrigated_yields',
 'rural_population',
 'industrial_water_use_efficiency',
 'irrigated_agriculture_water_use_efficiency',
 'services_water_use_efficiency',
 'water_use_efficiency',
 'water_stress',
 'surface_water_entering_the_country_total',
 'surface_water_leaving_the_country_to_other_countries_total',
 'total_agricultural_water_managed_area',
 'total_area_of_the_country_excl_coastal_water',
 'total_dam_capacity',
 'total_internal_renewable_water_resources',
 'total_internal_renewable_water_resources_per_capita',
 'total_population',
 'total_population_with_access_to_safe_drinking_water',
 'total_renewable_groundwater',
 'total_renewable_water_resources_per_capita',
 'total_water_withdrawal',
 'total_water_withdrawal_per_capita',
 'urban_population',
 'urban_population_with_access_to_safe_drinking_water',
 'water_resources_total_external_renewable']

In [47]:
df_indy.columns = colnames

In [48]:
df_indy.total_dam_capacity.describe()

count    3007.000000
mean       45.885684
std       137.960847
min         0.000000
25%         0.333706
50%         5.271500
75%        23.260368
max       841.505700
Name: total_dam_capacity, dtype: float64

In [49]:
#drop columns with high correlation to targets 

df_indy = df_indy.drop(columns=["gross_domestic_product", "urban_population_with_access_to_safe_drinking_water"])

In [50]:
# plt.close("all")
# for i, c in enumerate(df_indy.country.unique()):
#     fig, ax = plt.subplots(1,1, figsize=(10,4))
#     sns.heatmap(df_indy.query("country == @c").isna(), ax=ax)
#     ax.set_title(c)
#     #if i==1:    break
#     fig.savefig("images/"+c+"_nan_heatmap.png")

#### Train test validation split

In [51]:
df_indy.query("water_stress > 1000")

,country,year,%_of_agricultural_gva_produced_by_irrigated_agriculture,%_of_agricultural_water_managed_area_equipped_for_irrigation,%_of_total_country_area_cultivated,agricultural_water_withdrawal,agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,agricultural_water_withdrawal_as_%_of_total_water_withdrawal,agriculture_value_added_%_gdp,cultivated_area_arable_land_plus_permanent_crops,...,total_internal_renewable_water_resources,total_internal_renewable_water_resources_per_capita,total_population,total_population_with_access_to_safe_drinking_water,total_renewable_groundwater,total_renewable_water_resources_per_capita,total_water_withdrawal,total_water_withdrawal_per_capita,urban_population,water_resources_total_external_renewable
1860,Kuwait,2001,100.0,100.0,0.841751,0.470913,2354.562500,53.734899,0.448598,15.00,...,0.00,0.000000,2103.282,99.0,0.02,9.508948,0.876363,416.664289,2107.417,0.02
1861,Kuwait,2002,100.0,100.0,0.841751,0.491900,2459.500000,53.865528,0.517688,15.00,...,0.00,0.000000,2136.997,99.0,0.02,9.358928,0.913200,427.328630,2143.833,0.02
1862,Kuwait,2003,100.0,100.0,0.841751,0.506954,2534.769231,53.644745,0.455597,15.00,...,0.00,0.000000,2161.626,99.0,0.02,9.252294,0.945021,437.180397,2169.118,0.02
1863,Kuwait,2004,100.0,100.0,0.785634,0.522008,2610.038462,53.438347,0.399635,14.00,...,0.00,0.000000,2200.492,99.0,0.02,9.088876,0.976841,443.919372,2207.939,0.02
1864,Kuwait,2005,100.0,100.0,0.785634,0.537062,2685.307692,53.244970,0.300937,14.00,...,0.00,0.000000,2270.198,99.0,0.02,8.809804,1.008662,444.305536,2276.623,0.02
1865,Kuwait,2006,100.0,100.0,0.785634,0.552115,2760.576923,53.932508,0.234136,14.00,...,0.00,0.000000,2373.672,99.0,0.02,8.425764,1.023715,431.279210,2377.258,0.02
1866,Kuwait,2007,100.0,100.0,0.841751,0.567169,2835.846154,54.600118,0.214849,15.00,...,0.00,0.000000,2504.019,99.0,0.02,7.987160,1.038769,414.840794,2503.410,0.02
1867,Kuwait,2008,100.0,100.0,0.841751,0.582223,2911.115385,55.248655,0.159011,15.00,...,0.00,0.000000,2656.009,99.0,0.02,7.530095,1.053823,396.769392,2652.340,0.02
1868,Kuwait,2009,100.0,100.0,0.869809,0.597277,2986.384615,55.878924,0.262329,15.50,...,0.00,0.000000,2821.045,99.0,0.02,7.089571,1.068877,378.893964,2818.939,0.02
1869,Kuwait,2010,100.0,100.0,0.897868,0.612331,3061.653846,56.491686,0.450437,16.00,...,0.00,0.000000,2991.884,99.0,0.02,6.684751,1.083931,362.290373,2998.083,0.02
1870,Kuwait,2011,100.0,100.0,0.925926,0.627385,3136.923077,57.087661,0.437524,16.50,...,0.00,0.000000,3168.060,99.0,0.02,6.313012,1.098985,346.895139,3191.051,0.02
1871,Kuwait,2012,100.0,100.0,0.897868,0.642438,3212.192308,57.667530,0.359181,16.00,...,0.00,0.000000,3348.853,99.0,0.02,5.972194,1.114038,332.662694,3395.556,0.02
1872,Kuwait,2013,100.0,100.0,0.987654,0.657492,3287.461538,58.231936,0.354308,17.60,...,0.00,0.000000,3526.376,99.0,0.02,5.671545,1.129092,320.184889,3598.385,0.02
1873,Kuwait,2014,100.0,100.0,0.903479,0.672546,3362.730769,58.781490,0.450254,16.10,...,0.00,0.000000,3690.941,99.0,0.02,5.418672,1.144146,309.987657,3782.450,0.02
1874,Kuwait,2015,100.0,100.0,0.751964,0.687600,3438.000000,59.316770,0.536652,13.40,...,0.00,0.000000,3835.591,99.0,0.02,5.214320,1.159200,302.222004,3935.794,0.02
1875,Kuwait,2016,100.0,100.0,0.785634,0.722600,3613.000000,60.509127,0.518593,14.00,...,0.00,0.000000,3956.875,99.0,0.02,5.054494,1.194200,301.803822,4052.584,0.02
1876,Kuwait,2017,100.0,100.0,0.864198,0.778400,3892.000000,62.272000,0.525091,15.40,...,0.00,0.000000,4056.099,99.0,0.02,4.930846,1.250000,308.177882,4136.528,0.02
1877,Kuwait,2018,100.0,100.0,0.785634,0.778400,3892.000000,62.272000,0.447388,14.00,...,0.00,0.000000,4137.312,99.0,0.02,4.834057,1.250000,302.128532,4197.128,0.02
1878,Kuwait,2019,100.0,100.0,0.785634,0.778400,3892.000000,62.272000,0.384529,14.00,...,0.00,0.000000,4207.083,99.0,0.02,4.753888,1.250000,297.117979,4248.974,0.02
1879,Kuwait,2020,100.0,100.0,0.785634,0.778400,3892.000000,62.272000,0.457473,14.00,...,0.00,0.000000,4270.571,99.0,0.02,4.683214,1.250000,292.700906,4302.875,0.02
3728,United Arab Emirates,2001,100.0,100.0,3.133971,2.453000,1635.333333,80.083141,1.996274,262.00,...,0.15,45.417124,3302.719,99.7,0.12,45.417124,3.063067,927.437868,2682.600,0.00
3729,United Arab Emirates,2002,100.0,100.0,3.181818,2.627000,1751.333333,81.532366,1.965190,266.00,...,0.15,43.118602,3478.777,99.7,0.12,43.118602,3.222033,926.197147,2843.198,0.00
3730,United Arab Emirates,2003,100.0,100.0,3.038278,2.801000,1867.333333,82.845312,1.719230,254.00,...,0.15,40.410223,3711.932,99.7,0.12,40.410223,3.381000,910.846427,3048.628,0.00
3731,United Arab Emirates,2004,100.0,100.0,3.038278,3.056500,2037.666667,82.843366,1.485377,254.00,...,0.15,36.867990,4068.570,99.7,0.12,36.867990,3.689500,906.829672,3346.835,0.00
3732,United Arab Emirates,2005,100.0,100.0,3.074163,3.312000,2208.000000,82.841421,1.244563,257.00,...,0.15,32.692381,4588.225,99.7,0.12,32.692381,3.998000,871.360929,3767.260,0.00
3733,United Arab Emirates,2006,100.0,100.0,2.854067,3.229982,2153.321449,78.947282,0.975973,238.60,...,0.15,28.300958,5300.174,99.7,0.12,28.300958,4.091315,771.920924,4332.415,0.00
3734,United Arab Emirates,2007,100.0,100.0,2.782297,3.147964,2098.642899,75.226819,0.871103,232.60,...,0.15,24.315763,6168.838,99.6,0.12,24.315763,4.184630,678.349865,5017.936,0.00
3735,United Arab Emirates,2008,100.0,100.0,2.866029,3.065947,2043.964348,71.668665,0.737856,239.60,...,0.15,21.158089,7089.487,99.6,0.12,21.158089,4.277946,603.421043,5748.950,0.00
3736,United Arab Emirates,2009,100.0,100.0,1.051435,2.983929,1989.285798,68.262426,0.924753,87.90,...,0.15,18.945680,7917.372,99.6,0.12,18.945680,4.371261,552.110075,6420.001,0.00
3737,United Arab Emirates,2010,100.0,100.0,1.104067,2.901911,1934.607247,64.998576,0.763420,92.30,...,0.15,17.543884,8549.988,99.6,0.12,17.543884,4.464576,522.173372,6954.593,0.00
3738,United Arab Emirates,2011,100.0,100.0,1.058612,2.819893,1879.928697,61.868370,0.671922,88.50,...,0.15,16.765814,8946.777,99.6,0.12,16.765814,4.557891,509.445052,7321.556,0.00
3739,United Arab Emirates,2012,100.0,100.0,0.917464,2.737875,1825.250146,58.863764,0.638887,76.70,...,0.15,16.408513,9141.596,99.6,0.12,16.408513,4.651206,508.795892,7543.066,0.00
3740,United Arab Emirates,2013,100.0,100.0,0.949761,2.655857,1770.571596,55.977347,0.643768,79.40,...,0.15,16.308053,9197.910,99.6,0.12,16.308053,4.744522,515.826063,7661.308,0.00
3741,United Arab Emirates,2014,100.0,100.0,0.986842,2.573840,1715.893045,53.202281,0.639520,82.50,...,0.15,16.279265,9214.175,99.6,0.12,16.279265,4.837837,525.042873,7744.228,0.00
3742,United Arab Emirates,2015,100.0,100.0,0.990431,2.491822,1661.214495,50.532242,0.741026,82.80,...,0.15,16.193633,9262.900,99.6,0.12,16.193633,4.931152,532.355108,7842.883,0.00
3743,United Arab Emirates,2016,100.0,100.0,1.002392,2.409804,1606.535944,47.961381,0.776041,83.80,...,0.15,16.023963,9360.980,99.6,0.12,16.023963,5.024467,536.745868,7968.651,0.00
3744,United Arab Emirates,2017,100.0,100.0,1.176931,2.370235,1580.156828,47.387916,0.770536,83.80,...,0.15,15.810772,9487.203,99.6,0.12,15.810772,5.001771,527.212438,8107.436,0.00
3745,United Arab Emirates,2018,100.0,100.0,1.148140,2.429897,1619.931455,47.752747,0.718739,81.75,...,0.15,15.574773,9630.959,99.6,0.12,15.574773,5.088497,528.347921,8255.643,0.00
3746,United Arab Emirates,2019,100.0,100.0,1.269625,2.378380,1585.586394,47.254298,0.747178,90.40,...,0.15,15.352291,9770.529,99.6,0.12,15.352291,5.033150,515.135854,8402.990,0.00
3747,United Arab Emirates,2020,100.0,100.0,1.261198,2.316097,1544.064455,46.495713,0.918609,89.80,...,0.15,15.166219,9890.402,99.6,0.12,15.166219,4.981312,503.651150,8542.144,0.00

In [52]:
from sklearn.model_selection import train_test_split
RSEED = 5

In [53]:
targets = ['gdp_per_capita', 'water_stress', 'total_population_with_access_to_safe_drinking_water']

Y = df_indy[targets]
X = df_indy.drop(columns=targets)

X_train, X_pretest, Y_train, Y_pretest = train_test_split(X, Y, test_size=0.30, random_state=RSEED, stratify=X.country)
X_test, X_valid, Y_test, Y_valid = train_test_split(X_pretest, Y_pretest, test_size=0.50, random_state=RSEED, stratify=X_pretest.country)

In [54]:
Y_test.shape

(486, 3)

### Null Imputation

In [55]:
#Qatar:
index_list = X_train.query("country == 'Qatar'").index
X_train.loc[index_list,'dam_capacity_per_capita'] = 0
X_train.loc[index_list,'total_dam_capacity'] = 0
X_train.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0

#Republic of Korea:
index_list = X_train.query("country == 'Republic of Korea'").index
X_train.loc[index_list,'national_rainfall_index'] = 1150

#Saudi Arabia:
index_list = X_train.query("country == 'Saudi Arabia'").index
X_train.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0
X_train.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0

#South Sudan:
index_list = X_train.query("country == 'South Sudan'").index
X_train.loc[index_list,'national_rainfall_index'] = 0
X_train.loc[index_list,'total_dam_capacity'] = 0
X_train.loc[index_list,'dam_capacity_per_capita'] = 0

#Sudan:
index_list = X_train.query("country == 'Sudan'").index
X_train.loc[index_list,'national_rainfall_index'] = 257

#Timor-Leste:
index_list = X_train.query("country == 'Timor-Leste'").index
X_train.loc[index_list,'national_rainfall_index'] = 1500
X_train.loc[index_list,'total_dam_capacity'] = 0
X_train.loc[index_list,'dam_capacity_per_capita'] = 0

#Turkmenistan:
index_list = X_train.query("country == 'Turkmenistan'").index
X_train.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0

#United Arab Emirates:
index_list = X_train.query("country == 'United Arab Emirates'").index
X_train.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0

#Yemen:
index_list = X_train.query("country == 'Yemen'").index
X_train.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Iceland#
index_list = X_train.query("country == 'Iceland'").index
X_train.loc[index_list,'%_of_agricultural_water_managed_area_equipped_for_irrigation'] = 0
X_train.loc[index_list,'total_agricultural_water_managed_area'] = 0
#Iraq#
index_list = X_train.query("country == 'Iraq'").index
X_train.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Israel#
index_list = X_train.query("country == 'Israel'").index
X_train.loc[index_list,'dam_capacity_per_capita'] = 0
X_train.loc[index_list,'total_dam_capacity'] = 0
#Jordan#
index_list = X_train.query("country == 'Jordan'").index
X_train.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Kuwait#
index_list = X_train.query("country == 'Kuwait'").index
X_train.loc[index_list,'dam_capacity_per_capita'] = 0
X_train.loc[index_list,'total_dam_capacity'] = 0
X_train.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 1.24
#Malta#
index_mal = X_train.query("country == 'Malta'").index
X_train.loc[index_mal,'national_rainfall_index'] = 568
#Luxembourg
index_list = X_train.query("country == 'Luxembourg'").index
X_train.loc[index_list,'national_rainfall_index'] = 847.9
#Mauritius#
index_list = X_train.query("country == 'Mauritius'").index
X_train.loc[index_list,'national_rainfall_index'] = 2342
#Oman#
index_list = X_train.query("country == 'Oman'").index
X_train.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 1.24
X_train.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Palestine#
index_list = X_train.query("country == 'Palestine'").index
X_train.loc[index_list,'national_rainfall_index'] = 490
#Azerbaijan
index_aze = X_train.query("country == 'Azerbaijan'").index
X_train.loc[index_aze,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Bahrain
index_bah = X_train.query("country == 'Bahrain'").index
X_train.loc[index_bah,'national_rainfall_index'] = 36
#Barbados
index_bar = X_train.query("country == 'Barbados'").index
X_train.loc[index_bar,'dam_capacity_per_capita'] = 0
X_train.loc[index_bar,'total_dam_capacity'] = 0
X_train.loc[index_bar,'national_rainfall_index'] = 1525
#Burundi
index_bur = X_train.query("country == 'Burundi'").index
X_train.loc[index_bur,'dam_capacity_per_capita'] = 0
X_train.loc[index_bur,'total_dam_capacity'] = 0
#Central African Republic
index_car = X_train.query("country == 'Central African Republic'").index
X_train.loc[index_car,'dam_capacity_per_capita'] = 0
X_train.loc[index_car,'total_dam_capacity'] = 0
#Chad
index_cha = X_train.query("country == 'Chad'").index
X_train.loc[index_cha,'dam_capacity_per_capita'] = 0
X_train.loc[index_cha,'total_dam_capacity'] = 0
#Comoros
index_com = X_train.query("country == 'Comoros'").index
X_train.loc[index_com,'dam_capacity_per_capita'] = 0
X_train.loc[index_com,'total_dam_capacity'] = 0
#Democratic People's Republic of Korea
index_dpr = X_train.query("country == \"Democratic People's Republic of Korea\"").index
X_train.loc[index_dpr, 'national_rainfall_index'] = 244
#Egypt
index_egy = X_train.query("country == 'Egypt'").index
X_train.loc[index_egy, 'ratio_between_rainfed_and_irrigated_yields'] = 1.124
#Gambia
index_gam = X_train.query("country == 'Gambia'").index
X_train.loc[index_gam,'dam_capacity_per_capita'] = 0
X_train.loc[index_gam,'total_dam_capacity'] = 0
#Puerto Rico: 
index_list = X_train.query("country == 'Puerto Rico'").index
X_train.loc[index_list,'dam_capacity_per_capita'] = 119.6
X_train.loc[index_list,'total_dam_capacity'] = 0.3937

In [56]:
#Qatar:
index_list = X_valid.query("country == 'Qatar'").index
X_valid.loc[index_list,'dam_capacity_per_capita'] = 0
X_valid.loc[index_list,'total_dam_capacity'] = 0
X_valid.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0

#Republic of Korea:
index_list = X_valid.query("country == 'Republic of Korea'").index
X_valid.loc[index_list,'national_rainfall_index'] = 1150

#Saudi Arabia:
index_list = X_valid.query("country == 'Saudi Arabia'").index
X_valid.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0
X_valid.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0

#South Sudan:
index_list = X_valid.query("country == 'South Sudan'").index
X_valid.loc[index_list,'national_rainfall_index'] = 0
X_valid.loc[index_list,'total_dam_capacity'] = 0
X_valid.loc[index_list,'dam_capacity_per_capita'] = 0

#Sudan:
index_list = X_valid.query("country == 'Sudan'").index
X_valid.loc[index_list,'national_rainfall_index'] = 257

#Timor-Leste:
index_list = X_valid.query("country == 'Timor-Leste'").index
X_valid.loc[index_list,'national_rainfall_index'] = 1500
X_valid.loc[index_list,'total_dam_capacity'] = 0
X_valid.loc[index_list,'dam_capacity_per_capita'] = 0

#Turkmenistan:
index_list = X_valid.query("country == 'Turkmenistan'").index
X_valid.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0

#United Arab Emirates:
index_list = X_valid.query("country == 'United Arab Emirates'").index
X_valid.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 0

#Yemen:
index_list = X_valid.query("country == 'Yemen'").index
X_valid.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Iceland#
index_list = X_valid.query("country == 'Iceland'").index
X_valid.loc[index_list,'%_of_agricultural_water_managed_area_equipped_for_irrigation'] = 0
X_valid.loc[index_list,'total_agricultural_water_managed_area'] = 0
#Iraq#
index_list = X_valid.query("country == 'Iraq'").index
X_valid.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Israel#
index_list = X_valid.query("country == 'Israel'").index
X_valid.loc[index_list,'dam_capacity_per_capita'] = 0
X_valid.loc[index_list,'total_dam_capacity'] = 0
#Jordan#
index_list = X_valid.query("country == 'Jordan'").index
X_valid.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Kuwait#
index_list = X_valid.query("country == 'Kuwait'").index
X_valid.loc[index_list,'dam_capacity_per_capita'] = 0
X_valid.loc[index_list,'total_dam_capacity'] = 0
X_valid.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 1.24
#Luxembourg#
index_list = X_valid.query("country == 'Luxembourg'").index
X_valid.loc[index_list,'national_rainfall_index'] = 847.9
#Malta#
index_mal = X_valid.query("country == 'Malta'").index
X_valid.loc[index_mal,'national_rainfall_index'] = 568
#Mauritius#
index_list = X_valid.query("country == 'Mauritius'").index
X_valid.loc[index_list,'national_rainfall_index'] = 2342
#Oman#
index_list = X_valid.query("country == 'Oman'").index
X_valid.loc[index_list,'ratio_between_rainfed_and_irrigated_yields'] = 1.24
X_valid.loc[index_list,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Palestine#
index_list = X_valid.query("country == 'Palestine'").index
X_valid.loc[index_list,'national_rainfall_index'] = 490
#Azerbaijan
index_aze = X_valid.query("country == 'Azerbaijan'").index
X_valid.loc[index_aze,'surface_water_leaving_the_country_to_other_countries_total'] = 0
#Bahrain
index_bah = X_valid.query("country == 'Bahrain'").index
X_valid.loc[index_bah,'national_rainfall_index'] = 36
#Barbados
index_bar = X_valid.query("country == 'Barbados'").index
X_valid.loc[index_bar,'dam_capacity_per_capita'] = 0
X_valid.loc[index_bar,'total_dam_capacity'] = 0
X_valid.loc[index_bar,'national_rainfall_index'] = 1525
#Burundi
index_bur = X_valid.query("country == 'Burundi'").index
X_valid.loc[index_bur,'dam_capacity_per_capita'] = 0
X_valid.loc[index_bur,'total_dam_capacity'] = 0
#Central African Republic
index_car = X_valid.query("country == 'Central African Republic'").index
X_valid.loc[index_car,'dam_capacity_per_capita'] = 0
X_valid.loc[index_car,'total_dam_capacity'] = 0
#Chad
index_cha = X_valid.query("country == 'Chad'").index
X_valid.loc[index_cha,'dam_capacity_per_capita'] = 0
X_valid.loc[index_cha,'total_dam_capacity'] = 0
#Comoros
index_com = X_valid.query("country == 'Comoros'").index
X_valid.loc[index_com,'dam_capacity_per_capita'] = 0
X_valid.loc[index_com,'total_dam_capacity'] = 0
#Democratic People's Republic of Korea
index_dpr = X_valid.query("country == \"Democratic People's Republic of Korea\"").index
X_valid.loc[index_dpr, 'national_rainfall_index'] = 244
#Egypt
index_egy = X_valid.query("country == 'Egypt'").index
X_valid.loc[index_egy, 'ratio_between_rainfed_and_irrigated_yields'] = 1.124
#Gambia
index_gam = X_valid.query("country == 'Gambia'").index
X_valid.loc[index_gam,'dam_capacity_per_capita'] = 0
X_valid.loc[index_gam,'total_dam_capacity'] = 0
#Puerto Rico: 
index_list = X_valid.query("country == 'Puerto Rico'").index
X_valid.loc[index_list,'dam_capacity_per_capita'] = 119.6
X_valid.loc[index_list,'total_dam_capacity'] = 0.3937

In [57]:
X_train.isna().sum()

country                                                                    0
year                                                                       0
%_of_agricultural_gva_produced_by_irrigated_agriculture                  127
%_of_agricultural_water_managed_area_equipped_for_irrigation              16
%_of_total_country_area_cultivated                                         0
agricultural_water_withdrawal                                             52
agricultural_water_withdrawal_as_%_of_total_renewable_water_resources     39
agricultural_water_withdrawal_as_%_of_total_water_withdrawal              54
agriculture_value_added_%_gdp                                              0
cultivated_area_arable_land_plus_permanent_crops                           0
dam_capacity_per_capita                                                    2
dependency_ratio                                                           0
groundwater_accounted_inflow                                               0
groundwater_entering_the_country_total                                     0
industrial_water_withdrawal                                               29
municipal_water_withdrawal                                                 5
national_rainfall_index                                                    0
population_density                                                         0
ratio_between_rainfed_and_irrigated_yields                                 0
rural_population                                                           0
industrial_water_use_efficiency                                           29
irrigated_agriculture_water_use_efficiency                               172
services_water_use_efficiency                                              5
water_use_efficiency                                                     175
surface_water_entering_the_country_total                                   0
surface_water_leaving_the_country_to_other_countries_total                 0
total_agricultural_water_managed_area                                     16
total_area_of_the_country_excl_coastal_water                               0
total_dam_capacity                                                         2
total_internal_renewable_water_resources                                   0
total_internal_renewable_water_resources_per_capita                        0
total_population                                                           0
total_renewable_groundwater                                                0
total_renewable_water_resources_per_capita                                 0
total_water_withdrawal                                                    49
total_water_withdrawal_per_capita                                         49
urban_population                                                           0
water_resources_total_external_renewable                                   0
dtype: int64

In [58]:
#from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [59]:
#le = LabelEncoder()
#X_train['country'] = le.fit_transform(X_train['country'])

In [60]:
X_train.country.unique()

array(['Democratic Republic of the Congo', 'Georgia', 'Austria', 'Kenya',
       "Côte d'Ivoire", 'Jamaica', 'Luxembourg', 'Israel',
       'Dominican Republic', 'Portugal', 'Hungary', 'Guinea-Bissau',
       'Egypt', 'Guinea', 'Guatemala', 'Denmark', 'Qatar',
       'United States of America', 'Argentina', 'Kazakhstan', 'Myanmar',
       'Türkiye', 'Burkina Faso', 'Rwanda', 'Chile', 'Jordan', 'Ethiopia',
       'Panama', 'Yemen', 'Germany', 'Albania', 'India', 'Paraguay',
       'Bangladesh', 'Eritrea', 'Burundi', 'Czechia', 'Australia',
       'Sudan', 'New Zealand', 'Lesotho', 'Gabon', 'Viet Nam', 'Congo',
       'Niger', "Democratic People's Republic of Korea", 'Norway',
       'Palestine', 'Philippines', 'Croatia', 'Brazil', 'El Salvador',
       'Bulgaria', 'Switzerland', 'Russian Federation', 'Algeria',
       'Ecuador', 'Sierra Leone', 'Sweden', 'Zimbabwe', 'Tunisia',
       'Mauritania', 'Syrian Arab Republic', 'Colombia', 'Belgium',
       'Uzbekistan', 'Benin', 'Afghanistan', 'Malaysia', 'Iceland',
       'Romania', 'Mozambique', 'Estonia', 'Madagascar', 'Belize',
       'Central African Republic', 'Ireland',
       'United Kingdom of Great Britain and Northern Ireland', 'Slovenia',
       'Armenia', 'Nepal', 'Republic of Moldova', 'Tajikistan', 'Comoros',
       'South Sudan', 'Senegal', 'Bhutan', 'Mauritius', 'Latvia',
       'Namibia', 'Cambodia', 'Italy', 'Kyrgyzstan', 'Gambia', 'Cyprus',
       'Haiti', 'Chad', 'Kuwait', 'Libya', 'United Republic of Tanzania',
       'Uruguay', 'Suriname', 'Barbados', 'Mexico',
       'Bolivia (Plurinational State of)',
       'Venezuela (Bolivarian Republic of)', 'Eswatini', 'Morocco',
       'Spain', 'Zambia', 'Saudi Arabia', 'Netherlands (Kingdom of the)',
       'Fiji', 'Mali', 'Greece', 'Ukraine', 'Canada', 'Cabo Verde',
       'Finland', 'China', 'Timor-Leste', 'Republic of Korea',
       'Sri Lanka', 'Turkmenistan', 'Malawi', 'Uganda', 'Azerbaijan',
       "Lao People's Democratic Republic", 'South Africa', 'Honduras',
       'Belarus', 'Somalia', 'Lithuania', 'Cuba', 'Trinidad and Tobago',
       'Liberia', 'Angola', 'Poland', 'Bahrain', 'Oman', 'Slovakia',
       'Cameroon', 'France', 'Togo', 'United Arab Emirates', 'Malta',
       'Japan', 'Botswana', 'Peru', 'Nicaragua', 'Ghana', 'Thailand',
       'Pakistan', 'North Macedonia', 'Iran (Islamic Republic of)',
       'Guyana', 'Puerto Rico', 'Mongolia', 'Lebanon', 'Nigeria',
       'Indonesia', 'Costa Rica', 'Iraq'], dtype=object)

In [61]:
#country_ids = {c: float(i) for i, c in enumerate(le.classes_)}
#country_ids

In [62]:
def impute_medians(df):
    imputer_dict = {}
    for c in df.country.unique():
        df_temp = df.query("country == @c")
        c_imputer = SimpleImputer(strategy="median")
        df_temp_imp = c_imputer.fit_transform(df_temp)
        
        
    weights = np.zeros(len(dists))
    weights[0] = 1

In [63]:
class GroupedMedianImputer:
    def __init__(self, group_col, value_cols):
        self.group_col = group_col
        self.value_cols = value_cols
        self.medians = None

    def fit(self, df):
        self.medians = df.groupby(self.group_col)[self.value_cols].median()
        #print(self.medians[0])

    def transform(self, df):
        if self.medians is None:
            raise Exception("The imputer has not been fitted yet.")
        
        def fillna_grouped(x):
            return x.fillna(self.medians.loc[x.name, col])

        for col in self.value_cols:
            df[col] = df.groupby(self.group_col)[col].transform(fillna_grouped)
        
        return df

    def fit_transform(self, df):
        self.fit(df)
        return self.transform(df)

In [64]:
gmi = GroupedMedianImputer(group_col='country', value_cols=X_train.drop(columns=["country","year"], axis=1).columns.to_list())
X_train_imp = gmi.fit_transform(X_train)

In [65]:
X_train_imp.query("country == 110.0").sort_values("year")

Empty DataFrame
Columns: [country, year, %_of_agricultural_gva_produced_by_irrigated_agriculture, %_of_agricultural_water_managed_area_equipped_for_irrigation, %_of_total_country_area_cultivated, agricultural_water_withdrawal, agricultural_water_withdrawal_as_%_of_total_renewable_water_resources, agricultural_water_withdrawal_as_%_of_total_water_withdrawal, agriculture_value_added_%_gdp, cultivated_area_arable_land_plus_permanent_crops, dam_capacity_per_capita, dependency_ratio, groundwater_accounted_inflow, groundwater_entering_the_country_total, industrial_water_withdrawal, municipal_water_withdrawal, national_rainfall_index, population_density, ratio_between_rainfed_and_irrigated_yields, rural_population, industrial_water_use_efficiency, irrigated_agriculture_water_use_efficiency, services_water_use_efficiency, water_use_efficiency, surface_water_entering_the_country_total, surface_water_leaving_the_country_to_other_countries_total, total_agricultural_water_managed_area, total_area_of_the_country_excl_coastal_water, total_dam_capacity, total_internal_renewable_water_resources, total_internal_renewable_water_resources_per_capita, total_population, total_renewable_groundwater, total_renewable_water_resources_per_capita, total_water_withdrawal, total_water_withdrawal_per_capita, urban_population, water_resources_total_external_renewable]
Index: []

[0 rows x 38 columns]

In [66]:

#len(X_train.columns)

38

In [67]:
# fig, axs = plt.subplots(10,4, figsize=(20,30))

# for i, c in enumerate(X_train.columns):
#     ax = axs.flat[i]
#     if c in unit_dict:
#         unit_str = str(unit_dict[c])
#     else:   unit_str = '-'
#     sns.histplot(X_train[c], bins=50, ax=ax)
#     ax.set_title(unit_str)
# fig.tight_layout()

In [68]:
# fig, axs = plt.subplots(5,8, figsize=(20,30))

# for i, c in enumerate(X_train.columns):
#     if c in ['country', 'year']:  continue
#     print(c)
#     ax = axs.flat[i]
#     if c in unit_dict:
#         unit_str = str(unit_dict[c])
#     else:   unit_str = '-'
#     sns.boxplot(y=X_train[c], ax=ax)
#     ax.set_title(unit_str)
# fig.tight_layout()

In [69]:
# type_list = ["none", "log", "sqrt", "cbrt"]
# for col in X_train.columns[2:]:
#     #print(col)
#     fig, axs = plt.subplots(1,4, figsize=(16,4))
#     sns.histplot(X_train[[col]], ax=axs[0])
#     sns.histplot(np.log(X_train[[col]]), ax=axs[1])
#     sns.histplot(np.sqrt(X_train[[col]]), ax=axs[2])
#     sns.histplot(np.power(X_train[[col]], 1./3.), ax=axs[3])
#     fig.suptitle(col)
#     ax
#     for i, ax in enumerate(axs):
#         ax.legend([])
#         ax.set_title(type_list[i])

### Feature transformation

In [70]:
transformation_dict = { "log": ["agricultural_water_withdrawal","agricultural_water_withdrawal_as_%_of_total_renewable_water_resources",        "cultivated_area_arable_land_plus_permanent_crops", "dam_capacity_per_capita", "groundwater_entering_the_country_total", "industrial_water_withdrawal", "municipal_water_withdrawal", "population_density", "ratio_between_rainfed_and_irrigated_yields", "rural_population", "industrial_water_use_efficiency","irrigated_agriculture_water_use_efficiency", "services_water_use_efficiency","water_use_efficiency","surface_water_entering_the_country_total", "surface_water_leaving_the_country_to_other_countries_total", "total_agricultural_water_managed_area","total_area_of_the_country_excl_coastal_water", "total_dam_capacity", "total_internal_renewable_water_resources", "total_internal_renewable_water_resources_per_capita", "total_population", "total_renewable_groundwater", "total_renewable_water_resources_per_capita", "total_water_withdrawal", "urban_population"
],
                        "square_root": ["national_rainfall_index"],
                        "cube_root": ["%_of_agricultural_gva_produced_by_irrigated_agriculture", "%_of_total_country_area_cultivated",                  "agriculture_value_added_%_gdp", "total_water_withdrawal_per_capita"]}

In [71]:
X_train.head()

,country,year,%_of_agricultural_gva_produced_by_irrigated_agriculture,%_of_agricultural_water_managed_area_equipped_for_irrigation,%_of_total_country_area_cultivated,agricultural_water_withdrawal,agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,agricultural_water_withdrawal_as_%_of_total_water_withdrawal,agriculture_value_added_%_gdp,cultivated_area_arable_land_plus_permanent_crops,...,total_dam_capacity,total_internal_renewable_water_resources,total_internal_renewable_water_resources_per_capita,total_population,total_renewable_groundwater,total_renewable_water_resources_per_capita,total_water_withdrawal,total_water_withdrawal_per_capita,urban_population,water_resources_total_external_renewable
955,Democratic Republic of the Congo,2016,0.319478,77.777778,6.171797,0.071900,0.005604,10.517847,19.268473,14472.0,...,0.052868,900.00,11422.895954,78789.127,421.00,16283.972787,0.683600,8.676324,34098.241,383.0
1333,Georgia,2014,19.753651,100.000000,6.814921,0.600717,0.948551,36.476468,8.526235,475.0,...,3.413900,58.13,14405.333319,4035.311,17.23,15693.957665,1.646862,408.112906,2278.324,5.2
186,Austria,2007,5.226452,100.000000,17.215069,0.085687,0.110280,2.506941,1.416392,1444.0,...,2.127700,55.00,6615.556879,8313.737,6.00,9345.977627,3.418010,411.127959,4841.565,22.7
1821,Kenya,2002,2.339369,100.000000,9.507728,1.503333,4.896851,72.742838,14.367958,5518.0,...,24.763555,20.70,613.301732,33751.739,3.50,909.582763,2.066641,61.230653,6839.247,10.0
907,Côte d'Ivoire,2008,1.154616,81.741573,22.948583,0.595300,0.707511,41.964894,22.677046,7400.0,...,37.243900,76.84,3919.294564,19605.569,37.84,4291.637748,1.418567,72.355292,9064.718,7.3

In [72]:
def log_convert(df,col_list):
    df[col_list] = df[col_list].applymap(lambda x:np.log(x+1e-10))
    return df

def sqroot_convert(df,col_list):
    df[col_list] = df[col_list].applymap(np.sqrt)
    return df

def cube_convert(df,col_list):
    df[col_list] = df[col_list].applymap(lambda x: np.power(x,1/3.))
    return df

def final_convert(df,trans_dict):
    df = log_convert(df,trans_dict["log"])
    df = sqroot_convert(df,trans_dict["square_root"])
    df = cube_convert(df,trans_dict["cube_root"])
    return df

In [73]:
X_temp = X_train.copy()
final_convert(X_temp,transformation_dict)
X_temp.isna().sum()

C:\Users\soa\AppData\Local\Temp\ipykernel_22504\2982927487.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[col_list] = df[col_list].applymap(lambda x:np.log(x+1e-10))
C:\Users\soa\AppData\Local\Temp\ipykernel_22504\2982927487.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[col_list] = df[col_list].applymap(np.sqrt)
C:\Users\soa\AppData\Local\Temp\ipykernel_22504\2982927487.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[col_list] = df[col_list].applymap(lambda x: np.power(x,1/3.))

country                                                                  0
year                                                                     0
%_of_agricultural_gva_produced_by_irrigated_agriculture                  0
%_of_agricultural_water_managed_area_equipped_for_irrigation             0
%_of_total_country_area_cultivated                                       0
agricultural_water_withdrawal                                            0
agricultural_water_withdrawal_as_%_of_total_renewable_water_resources    0
agricultural_water_withdrawal_as_%_of_total_water_withdrawal             0
agriculture_value_added_%_gdp                                            0
cultivated_area_arable_land_plus_permanent_crops                         0
dam_capacity_per_capita                                                  0
dependency_ratio                                                         0
groundwater_accounted_inflow                                             0
groundwater_entering_the_country_total                                   0
industrial_water_withdrawal                                              0
municipal_water_withdrawal                                               0
national_rainfall_index                                                  0
population_density                                                       0
ratio_between_rainfed_and_irrigated_yields                               0
rural_population                                                         0
industrial_water_use_efficiency                                          0
irrigated_agriculture_water_use_efficiency                               0
services_water_use_efficiency                                            0
water_use_efficiency                                                     0
surface_water_entering_the_country_total                                 0
surface_water_leaving_the_country_to_other_countries_total               0
total_agricultural_water_managed_area                                    0
total_area_of_the_country_excl_coastal_water                             0
total_dam_capacity                                                       0
total_internal_renewable_water_resources                                 0
total_internal_renewable_water_resources_per_capita                      0
total_population                                                         0
total_renewable_groundwater                                              0
total_renewable_water_resources_per_capita                               0
total_water_withdrawal                                                   0
total_water_withdrawal_per_capita                                        0
urban_population                                                         0
water_resources_total_external_renewable                                 0
dtype: int64

In [74]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [75]:
ohe = OneHotEncoder(drop='first',sparse=False)
X_train_d = ohe.fit_transform(X_train['country'].to_frame())

c:\Users\soa\anaconda3\envs\amwag\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [76]:
X_train_d.columns

Index(['country_Albania', 'country_Algeria', 'country_Angola',
       'country_Argentina', 'country_Armenia', 'country_Australia',
       'country_Austria', 'country_Azerbaijan', 'country_Bahrain',
       'country_Bangladesh',
       ...
       'country_United Kingdom of Great Britain and Northern Ireland',
       'country_United Republic of Tanzania',
       'country_United States of America', 'country_Uruguay',
       'country_Uzbekistan', 'country_Venezuela (Bolivarian Republic of)',
       'country_Viet Nam', 'country_Yemen', 'country_Zambia',
       'country_Zimbabwe'],
      dtype='object', length=162)

In [77]:
X_train_d['country_Albania']

955     0.0
1333    0.0
186     0.0
1821    0.0
907     0.0
       ...
1243    0.0
3885    0.0
746     0.0
2568    0.0
2918    0.0
Name: country_Albania, Length: 2266, dtype: float64

In [78]:
scaled_cols = X_train.columns.to_list()
scaled_cols.remove('country')
hot_cols = ['country']

In [79]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [80]:
num_pipeline = Pipeline([
    ('scaling',StandardScaler())
])

cat_pipeline = Pipeline([
    ('ohe',OneHotEncoder(drop='first',sparse=False)
    )])

In [81]:
preprocessor = ColumnTransformer([
    ('num_preprocessor',num_pipeline,scaled_cols),
    ('cat_preprocessor',cat_pipeline,hot_cols),
])

In [82]:
X_train_pre = preprocessor.fit_transform(X_train)
X_train_pre.head()

c:\Users\soa\anaconda3\envs\amwag\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,num_preprocessor__year,num_preprocessor__%_of_agricultural_gva_produced_by_irrigated_agriculture,num_preprocessor__%_of_agricultural_water_managed_area_equipped_for_irrigation,num_preprocessor__%_of_total_country_area_cultivated,num_preprocessor__agricultural_water_withdrawal,num_preprocessor__agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,num_preprocessor__agricultural_water_withdrawal_as_%_of_total_water_withdrawal,num_preprocessor__agriculture_value_added_%_gdp,num_preprocessor__cultivated_area_arable_land_plus_permanent_crops,num_preprocessor__dam_capacity_per_capita,...,cat_preprocessor__country_United Kingdom of Great Britain and Northern Ireland,cat_preprocessor__country_United Republic of Tanzania,cat_preprocessor__country_United States of America,cat_preprocessor__country_Uruguay,cat_preprocessor__country_Uzbekistan,cat_preprocessor__country_Venezuela (Bolivarian Republic of),cat_preprocessor__country_Viet Nam,cat_preprocessor__country_Yemen,cat_preprocessor__country_Zambia,cat_preprocessor__country_Zimbabwe
955,0.950711,-0.884438,-0.500745,-0.790876,-0.264192,-0.185153,-1.474079,0.556660,0.212596,-0.363743,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1333,0.602539,-0.245099,0.428872,-0.747885,-0.255962,-0.182061,-0.648183,-0.317754,-0.366225,-0.143717,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186,-0.616061,-0.723010,0.428872,-0.052673,-0.263978,-0.184810,-1.728953,-0.896492,-0.326154,-0.297305,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1821,-1.486489,-0.817989,0.428872,-0.567881,-0.241912,-0.169115,0.505663,0.157760,-0.157681,-0.172949,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907,-0.441975,-0.856964,-0.334929,0.330591,-0.256046,-0.182852,-0.473564,0.834116,-0.079854,0.130531,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
X_valid_pre = preprocessor.transform(X_valid)
X_valid_pre.head()

,num_preprocessor__year,num_preprocessor__%_of_agricultural_gva_produced_by_irrigated_agriculture,num_preprocessor__%_of_agricultural_water_managed_area_equipped_for_irrigation,num_preprocessor__%_of_total_country_area_cultivated,num_preprocessor__agricultural_water_withdrawal,num_preprocessor__agricultural_water_withdrawal_as_%_of_total_renewable_water_resources,num_preprocessor__agricultural_water_withdrawal_as_%_of_total_water_withdrawal,num_preprocessor__agriculture_value_added_%_gdp,num_preprocessor__cultivated_area_arable_land_plus_permanent_crops,num_preprocessor__dam_capacity_per_capita,...,cat_preprocessor__country_United Kingdom of Great Britain and Northern Ireland,cat_preprocessor__country_United Republic of Tanzania,cat_preprocessor__country_United States of America,cat_preprocessor__country_Uruguay,cat_preprocessor__country_Uzbekistan,cat_preprocessor__country_Venezuela (Bolivarian Republic of),cat_preprocessor__country_Viet Nam,cat_preprocessor__country_Yemen,cat_preprocessor__country_Zambia,cat_preprocessor__country_Zimbabwe
2867,0.428454,0.251784,0.428872,-0.591496,-0.263853,-0.180842,-1.726457,-0.944513,-0.382510,-0.332788,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1648,-0.267889,0.930370,0.424069,-0.544256,1.073265,0.020587,1.123939,-0.508987,0.325788,-0.243111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1968,-0.267889,-0.893020,0.428872,-0.457031,-0.265252,-0.184759,-1.532685,-0.563801,-0.371849,0.004952,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
893,0.602539,-0.848731,0.428872,0.945104,-0.264557,-0.183962,-1.715171,-0.815331,-0.281037,-0.285662,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
818,1.472968,0.184687,0.428872,-0.450599,-0.233086,-0.179164,0.290392,-0.673978,-0.362069,-0.260957,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0